// WWW.MINE.IS Club

.access-club {
	p {
		a {
			border-bottom: 1px dotted $color-gray;
			padding-bottom: 2px;

			&:hover {
				border-bottom-style: solid;
			}
		}
	}

	&__caption {
		margin: 0 0 21px;
		font-size: 9px;
		letter-spacing: $letter-sp-medium;
		color: $color-lightgray;

		.s-icon {
			margin: 0 .2em 0 0;
			opacity: .8;
			vertical-align: baseline;
		}
	}

	&__portraits {
		margin-bottom: 23px;
	}

	&__join {
		display: inline-block;
		margin-bottom: 8px;
		padding: 0 5px;
		border: 1px solid rgba(#fff, .3);
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		letter-spacing: .1em;
		transition: border-color .15s ease-in;

		&:hover,
		&:focus {
			border-color: rgba(#fff, .6);
			text-decoration: none;
		}

		.s-icon {
			margin: 0 .08em 0 0;
			vertical-align: 1px;
		}
	}

	&__ps {
		font-size: 7px;
		color: $color-gray;
		letter-spacing: $letter-sp-small;
	}

	&--mini {
		.access-club__join {
			margin-bottom: 18px;
		}
		.access-club__ps {
			margin-bottom: 20px;
		}
	}
}

.club-extras {
	margin-top: 70px;

	&__header {
		margin-bottom: 56px;

		.club-extras__subtitle {
			margin-bottom: 0;
		}
	}

		&__title {
			margin: 0 0 56px;
			font-size: 18px;
			letter-spacing: $letter-sp-medium;
		}

		&__subtitle {
			margin: 0 0 36px;
			font-size: 14px;
			text-transform: none;

			&--tight {
				padding: 0 120px;
			}
		}

	&__members {
		max-width: 557px;
		margin: 6px auto 38px;
		border: 5px solid #fff;
		padding: 8px;

		img {
			display: block;
			width: 100%;
		}
	}

	&__benefits {
		margin: 0 70px;

		&__title {
			margin: 0 0 18px;
			padding: 0 80px;
			color: $color-almostgray;
			font-size: 8px;
			letter-spacing: $letter-sp-medium;
			line-height: 1.8em;
		}

		&__divider {
			margin: 18px 0;
			border-color: lighten($color-darkgray, 10%);
		}

		&__list {
			margin-top: 20px;
			color: darken($color-text, 15%);
			font-size: 10px;
			font-weight: 600;
			line-height: 1.4em;

			li {
				margin: 10px 0;
			}
		}
	}

	&__vv {
		&__caption {
			display: block;
			margin-top: 35px;
			font-size: 7px;
			font-weight: 600;
			color: $color-gray;
			letter-spacing: $letter-sp-medium;
		}
	}

	@media (max-width: $breakpoints-md) {
		&__header {
			margin-bottom: 36px;
		}

		&__access-club {
			margin-top: 30px;
		}
	}

	@media (max-width: $breakpoints-xs) and (max-width: $breakpoints-md) {
		&__subtitle {
			&--tight {
				padding: 0;
			}
		}
	}

	@media (max-width: $breakpoints-sm) {
		&__members {
			border-width: 3px;
		}

		&__benefits {
			&__title {
				padding: 0;
			}
		}
	}

	@media (max-width: $breakpoints-xs) {
		&__benefits {
			margin: 0 12%;
		}
	}
}