// Footer
.footer {
	margin-top: 80px;
	padding: 80px 0 40px;
	background-color: darken($color-darkgray, 6%);
	// striped background
	background-image: linear-gradient(
		to right, 
		darken($color-darkgray, 4.5%), 
		darken($color-darkgray, 4.5%) 50%, 
		darken($color-darkgray, 6%) 50%, 
		darken($color-darkgray, 6%)
	);
	background-size: 2px auto;

	&__forbes {
		margin: 120px 15px 0;
	}

	&__subscribe {
		margin-top: 60px;
	}

	&__nav {
		margin-top: 70px;
		text-align: center;

		&--xs {
			color: $color-almostgray;
			font-size: 8px;
			font-weight: 600;
			letter-spacing: $letter-sp-small;
		}

		a {
			color: darken($color-text, 14%);
			transition: color .15s ease-in;

			&:hover {
				color: $color-text;
			}
		}

		&__container {
			display: inline-block;
			font-size: 8px;
			font-weight: 600;
			letter-spacing: $letter-sp-small;
			text-align: left;

			&__col {
				display: inline-block;
				margin: 0 0 0 45px;
				vertical-align: top;

				&:first-child {
					margin-left: 0;
				}

				dd {
					margin-bottom: 10px;
				}
			}
		}

		&__shift-line {
			margin-top: 30px;
			color: $color-almostgray;

			a {
				color: inherit;
			}
		}

		&__social-links {
			float: left;
			margin: -4px 0 0 -200px;
			text-align: right;

			a {
				display: inline-block;
				margin: 0 10px;
				opacity: .2;
				vertical-align: middle;
				transition: opacity .15s ease-in;
				
				&:hover {
					opacity: .7;
				}
			}
		}
	}


	@media (max-width: $breakpoints-md) {
		margin-top: 60px;
		padding-top: 60px;
	}
	
	@media (max-width: $breakpoints-xs) {
		margin-top: 40px;
		padding: 40px 0 30px;
	}
}
// Footer - end

// Blog last posts
.blog-posts {
	margin-bottom: -30px;

	&__title {
		margin: 0 0 40px;
		font-size: 15px;
		line-height: 11px;
		letter-spacing: 10px;
	}

	&__post {
		display: block;
		margin-bottom: 30px;
		opacity: 1;
		transition: opacity .15s ease-in;

		&:hover {
			opacity: .7;
		}

		&__cover {
			img {
				width: 100%;
			}
		}

		&__title {
			margin: 18px 0 0;
			font-size: 10px;
			line-height: 15px;
			letter-spacing: $letter-sp-small;
			font-weight: 400;
		}
	}

	@media (min-width: $breakpoints-sm) {
		.container,
		[class*="col-md"] {
			padding-right: 30px;
			padding-left: 30px;
		}
		.row {
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	@media (max-width: $breakpoints-md - 1px) and (min-width: $breakpoints-sm) {
		.col-xs-6:nth-child(2n+1){
			clear: both;
		}
	}
}
// Blog last posts - end

// Subscribe form
.subscribe {
	text-align: center;
	max-width: 290px;

	&__field {
		width: 100%;
		margin-bottom: 15px;
		padding-bottom: 8px;
		background: transparent;
		border: none;
		border-bottom: 1px solid lighten($color-darkgray, 25%);
		color: #4ec95d;
		font-size: 9px;
		letter-spacing: $letter-sp-medium;
		text-align: left;
		transition: color .15s ease-in;

		&:invalid {
			box-shadow: none;
		}

		&::-webkit-input-placeholder {
			color: $color-gray;
			text-align: center;
		}
		&::-moz-placeholder {
			color: $color-gray;
			text-align: center;
		}
		&:-ms-input-placeholder {
			color: $color-gray;
			text-align: center;
		}
	}

	&__submit {
		height: 25px;
		padding: 0 6px 0 9px;
		color: $color-almostgray;
		border: 1px solid lighten($color-darkgray, 15%);
		background: transparent;
		font-size: 10px;
		font-weight: 600;
		letter-spacing: $letter-sp-medium;
		transition: all .15s ease-in;

		&:hover {
			color: darken($color-text, 10%);
			border-color: lighten($color-darkgray, 25%);
		}
	}
}
// Subscribe form - end