.header {
	$header-border-size: 10px;
	$submenu-width: 610px;
	$submenu-color: rgba(61, 62, 63, .98);
	$submenu-corner-size: 12px;
	$submenu-hamburger-width: 20px;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	width: auto;
	padding: 36px 50px 15px;

	background-image: linear-gradient(to bottom, rgba(0,0,0, .3) 0%,rgba(0,0,0, .2) 10%,rgba(0,0,0, 0) 100%);
	background-repeat: no-repeat;

	&__logo {
		@include text-hide();
		@include retina-sprite($sprite-header-logo-group);
		display: block;
		float: left;
		margin-top: 3px;
	}

	&__cart {
		float: right;
		margin: 0 -20px 0 0;
	}

	&__phone-menu {
		$hamburger-holder-height: 46px;

		display: none;
		float: left;

		&__opener {
			position: relative;
			z-index: 7;
			margin: -15px 0 0 -15px;
			padding: 15px;
			@include cursor(hover);
		}

		&__hamburger-holder {
			height: $hamburger-holder-height;
			margin-top: -$hamburger-holder-height;
			transform: translateY($hamburger-holder-height);
			border-bottom: 1px solid lighten($color-darkgray, 4%);
			background-color: $color-darkgray;
			box-shadow: 0 0 15px 5px $color-darkgray;
			@include cursor(hover);
		}

		&__links-holder {
			visibility: hidden;
			position: fixed;
			z-index: 6;
			top: 0;
			bottom: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			background-color: $color-darkgray;
			transition: all .3s cubic-bezier(.22,.61,.36,1), opacity .3s ease-out, visibility .3s ease-out;
		}
			&__links {
				height: 100%;
				overflow-x: auto;
				padding: $hamburger-holder-height 15px 0;
				letter-spacing: $letter-sp-small;
				font-size: 16px;

				li {
					&:last-child {
						margin-bottom: 10px;
					}
				}

				a {
					display: block;
					line-height: 1.8em;
				}
			}
				&__caption {
					font-size: 9px;
					color: $color-gray;
					margin: 18px 0 4px !important;
				}

		@at-root .open-phone-menu {
			overflow: hidden;

			.header__phone-menu__links-holder {
				visibility: visible;
				left: 0;
				opacity: 1;
			}
		}
	}

	&__menu {
		margin: 0 auto;
		position: relative;
		width: $submenu-hamburger-width;

		// submenu dropdown opener
		&.open {
			.header__submenu {
				display: block;
			}
		}

		&__left-wing,
		&__right-wing {
			position: absolute;
			top: 0;
		}
		&__left-wing {
			right: $submenu-hamburger-width;
		}
		&__right-wing {
			left: $submenu-hamburger-width;
		}
	}

		&__genres {
			white-space: nowrap;
			font-weight: 700;
			font-size: 15px;
			letter-spacing: 2px;
			margin: -7px 40px 0 0;

			li {
				margin-left: 17px;
				display: inline-block;
				vertical-align: middle;

				&:first-child {
					margin-left: 0;
				}
			}
				a {
					display: block;
					line-height: 22px;
					padding: 0 11px;
					border: 4px solid transparent;
					transition: border .3s ease-in-out;

					&:hover,
					&:focus {
						border-color: #fff;
					}
				}
		}

		&__open-tracker {
			color: #9c9f9f;
			font-weight: 400;
			font-size: 9px;
			padding: 2px 5px;
			background-color: rgba(255,255,255, .12);
			letter-spacing: 1px;
			transition: background .15s ease-in;
			border: none;
			text-transform: uppercase;
			white-space: nowrap;
			margin: -1px 0 0 56px;

			&:before {
				content: "";
				width: 5px;
				height: 5px;
				display: inline-block;
				margin: 0 8px 0 1px;
				border-radius: 50%;
				background-color: #28cb5b;
				opacity: .8;
			}

			&:hover {
				color: #555;
				background-color: #fff;
			}
		}

		&__hamburger {
			$line-height: 3px;

			width: $submenu-hamburger-width;
			height: $line-height * 5;
			background: linear-gradient(
				to bottom, 
				#fff, #fff $line-height, 
				transparent $line-height, transparent $line-height * 2, 
				#fff $line-height * 2, #fff $line-height * 3, 
				transparent $line-height * 3, transparent $line-height * 4, 
				#fff $line-height * 4, #fff $line-height * 5
			);
			border: none;
			vertical-align: top;
		}

		&__submenu {
			display: none;
			position: absolute;
			width: $submenu-width;
			top: 0;
			left: -(($submenu-width/2) - ($submenu-hamburger-width/2));
			margin: ($submenu-hamburger-width + 40px) 0 0;
			padding: 46px 15px 14px 55px;
			border: 4px solid #fff;
			background-color: $submenu-color;

			animation-name: fade-in-menu;
			animation-duration: .35s;
			transform-origin: center top;
			animation-fill-mode: forwards;

			// Top arrow
			&:after,
			&:before {
				bottom: 100%;
				left: 50%;
				content: "";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border: solid transparent;
			}
			&:after {
				border-bottom-color: $submenu-color;
				border-width: $submenu-corner-size;
				margin-left: -$submenu-corner-size;
			}
			
			&:before {
				border-bottom-color: #fff;
				border-width: $submenu-corner-size + $submenu-corner-size / 2;
				margin-left: -($submenu-corner-size + $submenu-corner-size / 2);
			}

			dl {
				a {
					display: inline-block;
					border: 3px solid transparent;
					margin: 0 0 2px -10px;
					padding: 0 7px;
					transition: border .3s ease-in-out;

					&:hover,
					&:focus {
						border-color: initial;
					}
				}
			}
				dt {
					margin-bottom: 25px;
					font-size: 7px;
					line-height: 6px;
					color: #bbbaba;
					letter-spacing: 2px;
				}
				dd {
					font-size: 9px;
					line-height: 23px;
					letter-spacing: 1.8px;
				}
			
			// Footer
			&__bottom-nav {
				font-size: 7px;
				line-height: 6px;
				padding-top: 65px;
				margin: 0 0 0 -40px;
				font-weight: 400;
				color: #bbb;
				letter-spacing: 1.3px;

				li {
					margin-right: 18px;
					float: left;

					&.pull-right {
						margin-right: 0;
						margin-left: 18px;
					}
				}

					a {
						color: inherit;
						transition: color .15s ease-in;

						&:hover,
						&:focus {
							color: #fff;
						}
					}
			}
		}

	@media (min-width: 641px) {
		left: $header-border-size;
		right: $header-border-size;
		border-top: $header-border-size solid $color-lime;
	}

	@media (min-width: 641px) and (max-width: 1100px) {
		&__logo {
			transform: rotate(270deg);
			position: absolute;
			left: -89px;
			top: 156px;
		}
	}

	@media (max-width: 640px) {
		padding: 15px;

		&__phone-menu {
			display: block;
		}
		&__logo {
			margin-right: auto;
			margin-left: auto;
			float: none;
			position: relative;
			z-index: 5;
		}
		&__cart {
			margin: -15px -15px 0 0;
		}
		&__menu {
			display: none;
		}
	}

	@media (max-width: 380px) {
		&__logo {
			@include retina-sprite($sprite-header-logo-resp-group);
			margin-top: -7px;
		}
	}
}

.mini-cart {
	&.open {
		.mini-cart__summary {
			display: block;
		}
	}

	&__opener {
		padding: 15px 20px;
		font-size: 11px;
		letter-spacing: 1.4px;
		position: relative;
		z-index: 6;
	}

	&__summary {
		width: 470px;
		position: absolute;
		z-index: 4;
		top: 2px;
		right: 2px;
		display: none;

		animation-name: show-cart;
		animation-duration: .25s;
		transform-origin: center top;

		&__box {
			padding: 37px 42px 29px;
			margin-bottom: 1px;
			background-color: rgba(61, 62, 63, 0.97);
		}
	}

	   &__caption {
			color: #979797;
			font-size: 9px;
			line-height: 7px;
			font-weight: 400;
			letter-spacing: 2px;
			margin: 2px 0 46px;
		}

		&__items {
			width: 100%;
			margin-bottom: -16px;
			letter-spacing: 1.3px;

			td {
				padding-bottom: 20px;
				vertical-align: top;
			}
		}
			&__options {
				font-size: 8px;
				line-height: 6px;
				margin-top: 7px;
				color: #979797;
			}

			&__count,
			&__sum {
				text-align: right;
				width: 78px;
			}

			&__total {
				margin: -24px 0 44px;
				text-align: right;
				letter-spacing: 1.4px;
				
				&__price {
					float: right;
					width: 80px;
				}
			}

			&__checkout {
				margin-top: -10px;
			}

			&__edit {
				font-size: 9px;
				line-height: 7px;
				text-decoration: none;
				color: #fff;
				border-bottom: 1px solid transparent;
				padding-bottom: 2px;
				letter-spacing: 1.6px;
				transition: all .15s ease-in;

				&:hover,
				&:active {
					border-color: #5c5b59;
					padding-bottom: 5px;
				}
			}

	@media (max-width: 640px) {
		&__opener {
			padding: 15px;
			display: block;

			&__sum {
				display: none;
			}
		}
		&__summary {
			width: auto;
			top: 0;
			right: 0;
			left: 0;

			&__box {
				padding: 15px;

				&:first-child {
					padding-top: 75px;
				}
			}
		}
		&__caption {
			margin: 0 0 26px;
		}
		&__total {
			margin: 0 0 20px;
		}
	}
}