// Buy item section
.product {
	padding-top: 150px;
	min-height: 700px;
	background: lighten($color-darkgray, 3%) url('../content/product-nicole--background.jpg') no-repeat 50% 0;
	background-size: cover;
	position: relative;

	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
	}
	// Background dotted pattern
	&:before {
		top: 0;
		height: 100%;
		background: url('../images/item-background-pattern.png') repeat 50% 0;
	}
	// White gradient
	&:after {
		bottom: 0;
		height: 60px;
		background: linear-gradient(to bottom, rgba(236,236,236,0) 0%, rgba(236,236,236,0.1) 75%, rgba(236,236,236,0.2) 100%);
	}

	// Pseudo logo AKA item name
	&__logo {
		font-family: 'Streetbrush';
		font-size: 60px;
		text-transform: none;
		margin-bottom: 20px;
	}

	// Item information
	&__info {
		margin-bottom: 45px;

		&__caption {
			margin: 0 0 12px;
			font-size: 12px;
			line-height: 14px;
			font-weight: 400;
			letter-spacing: $letter-sp-medium;
		}

		&__description {
			font-size: 7px;
			line-height: 11px;
			letter-spacing: $letter-sp-medium;
			color: $color-lightgray;
		}
	}

	// Price
	&__price {
		margin-left: -10px;

		&__caption {
			font-size: 8px;
			line-height: 6px;
			margin-bottom: 18px;
			letter-spacing: $letter-sp-medium;
		}
		&__sum {
			font-size: 35px;
		}

		&--inline {
			margin: 0;
			float: left;

			@at-root .product__price--inline {
				.product__price {
					&__caption {
						margin: 0;
						display: inline-block;
						font-weight: 700;
						font-size: 11px;
						line-height: 20px;
						color: $color-lightgray;
					}
					&__sum {
						display: inline-block;
						vertical-align: middle;
						margin-left: 10px;
					}
				}
			}
		}
	}

	// Item photo (holder)
	&__photo {
		margin-top: 25px;
	}

	// Share link opener & counter
	&__share {
		display: block;
		margin-bottom: 38px;
		font-weight: 700;
		font-size: 11px;
		line-height: 20px;
		letter-spacing: $letter-sp-small;
		color: $color-lightgray;
		transition: color .15s ease-in;

		&:hover,
		&:focus {
			color: $color-text;
		}

		&__counter {
			position: relative;
			float: right;
			@include sprite-width($sprite-product-share);
			@include sprite-height($sprite-product-share);
			padding-left: 7px;
			text-align: center;
			font-size: 13px;
			font-weight: 400;
			color: darken($color-text, 6%);

			// Back bubble
			&:after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				opacity: .15;
				transition: opacity .15s ease-in;
				@include retina-sprite($sprite-product-share-group);

				// Why?! Because sass-gulp don't understand /normal/ AT-ROOT!
				@at-root .product__share:hover {
					.product__share__counter {
						&:after {
							opacity: .3;
						}
					}
				}
			}
		}
	}

	// Select item size
	&__select-size {
		margin-bottom: 40px;
		position: relative;

		// Select custom arrow
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			@include retina-sprite($sprite-product-select-group);
			pointer-events: none;
			opacity: .3;
			transition: opacity .15s ease-in;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
		
		select {
			display: block;
			width: 100%;
			height: 26px;
			padding: 0 0 0 9px;
			appearance: none;
			background-color: transparent;
			border: 1px solid rgba(255,255,255, .1);
			font-size: 12px;
			color: rgba($color-text, .4);
			transition: all .15s ease-in;

			option {
				padding: 3px 0;
				background-color: #100f10,;
				border-bottom: 1px solid #efefef;
				text-align: center;
			}
			
			&:hover {
				border-color: rgba(255,255,255, .65);
				color: rgba($color-text, .8);

				&:focus {
					background-color: rgba(#100f10, .65);
				}
			}
		}
	}

	// Add item to cart
	&__submit {
		display: block;
		width: 100%;
		margin-bottom: 40px;
	}

	// Item features
	&__features {
		margin-bottom: 23px;
		color: $color-lightgray;
		font-size: 8px;
		line-height: 16px;
		letter-spacing: 1px;

		li {
			margin-bottom: 8px;
		}

		a {
			padding-bottom: 1px;
			color: inherit;
			text-decoration: none;
			border-bottom: 1px dotted rgba($color-text, .5);
			font-size: 9px;

			&:hover,
			&:focus {
				color: #fff;
				border-bottom-style: solid;
			}
		}
	}

	// Scroll down to ...
	&__scroll-down {
		display: block;
		width: 70px;
		margin: 40px auto 0;
		position: relative;
		z-index: 2;
		line-height: 70px;
		text-align: center;

		.s-icon {
			opacity: .5;
			transition: opacity .15s ease-in;
			pointer-events: none;
		}

		&:hover {
			.s-icon {
				opacity: 1;

				animation-name: mini-bounce;
				animation-duration: 1.6s;
				transform-origin: center bottom;
				animation-iteration-count: infinite;
			}
		}
	}

	@media (max-width: $breakpoints-md) {
		padding-top: 120px;

		&__logo {
			font-size: 80px;
			margin-bottom: -10px;
		}

		&__info {
			margin-bottom: 65px;
		}

		&__photo {
			margin-top: 0;
		}

		&__share {
			float: right;
			display: inline-block;
			margin-top: 18px;
			margin-bottom: 50px;

			&__counter {
				margin-left: 12px;
			}
		}

		&__select-size {
			margin-bottom: 20px;
		}
	}

	@media (max-width: $breakpoints-sm) {
		padding-bottom: 10px;

		&__photo {
			margin-bottom: 35px;
		}
	}

	@media (max-width: $breakpoints-sm - 1px) {
		&__submit {
			margin-bottom: 30px;
		}
		&__features {
			text-align: center;
		}
		&__scroll-down {
			display: none;
		}
	}

	@media (max-width: $breakpoints-xs) {
		&__info {
			margin-bottom: 35px;
		}
	}
}
// Buy item section - end

// About this item in a few words
.short-story {
	padding: 50px 0;

	&__content {
		color: $color-lightgray;
		font-size: 17px;
		line-height: 1.882em;
		text-transform: none;
		letter-spacing: $letter-sp-xs;
		text-align: center;

		p {
			margin: 1.3em 0;
		}

		a {
			padding-bottom: 2px;
			border-bottom: 1px dotted $color-gray;
			color: inherit;
			transition: color .15s ease-in;

			&:hover,
			&:focus {
				color: $color-text;
				text-decoration: none;
			}
		}
	}

	&__sidebar {}

	@media (max-width: $breakpoints-md) {
		padding: 40px 0;

		&__content {
			text-align: left;
		}
	}

	@media (max-width: $breakpoints-sm) {
		padding: 15px 0;

		&__content {
			font-size: 14px;
		}
	}
}
// About this item in a few words - end

// All about this item
.long-story {
	&__caption-image {
		display: block;
		overflow: hidden;
		position: relative;
		min-height: 14vw;
		background-color: darken($color-darkgray, 3);

		img {
			display: block;
		}

		&__title {
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 8vw; // fix strange "offset" bug
			font-size: 8vw;
			letter-spacing: 1.2em;

			animation-name: fade-in;
			animation-duration: 4s;

			@at-root .no-js .long-story__caption-image figcaption {
				display: block;
			}
		}
	}

	&__text {
		@extend .short-story__content;
		
		text-align: left;
		padding-top: 70px;
		padding-bottom: 70px;
	}

	&__more-photos {
		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__slider {
		margin-top: 200px;
	}

	// Video player section
	&__video {
		margin-top: 160px;

		&__content {}

		// About video
		&__sidebar {
			margin-top: 38px;
		}
			&__category {
				margin: 0 0 28px;
				color: $color-gray;
				font-size: 9px;
				letter-spacing: .2em;
			}

			&__title {
				margin: 0 0 28px;
				font-size: 11px;
				letter-spacing: .2em;
				color: darken($color-text, 4%);
			}

			&__about {
				margin: 0;
				font-size: 8px;
				letter-spacing: .2em;
				line-height: 1.6em;
				color: darken($color-text, 22%);
			}
	}

	@media (max-width: $breakpoints-md) {
		&__text {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		&__slider {
			margin-top: 0;
		}
		
		&__video {
			margin-top: 100px;

			&__title {
				margin-bottom: 18px;
			}

			&__sidebar {
				float: none !important;
				margin-top: 0;
				margin-bottom: 40px;
			}
				&__category {
					margin-bottom: 80px;
					color: $color-text;
					font-size: 18px;
					letter-spacing: $letter-sp-medium;
					text-align: center;
				}
		}
	}

	@media (max-width: $breakpoints-sm) {
		&__text {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&__video {
			&__category {
				margin-bottom: 60px;
			}
		}
	}

	@media (min-width: $breakpoints-sm) {
		&__video {
			&,
			[class*="col-md"] {
				padding-right: 30px;
				padding-left: 30px;
			}
			.row {
				margin-left: -30px;
				margin-right: -30px;
			}
		}
	}
	
	@media (max-width: $breakpoints-xs) {
		&__text {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&__video {
			&__sidebar {
				margin-bottom: 30px;
			}
		}
	}
}
// All about this item - end

// Large SHOP slider
.shop-slider {
	$slides-height: 768px;
	$navigation-height: 135px;

	&__slide {
		width: 100%;
		height: $slides-height;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-color: lighten($color-darkgray, 5);
		background-size: cover;
	}
		&__left-control,
		&__right-control {
			display: block;
			width: $navigation-height;
			line-height: $navigation-height;
			text-align: center;
			transition: opacity .15s ease-in;
			opacity: .7;

			&:hover,
			&:focus {
				opacity: 1;
			}
		}
		&__left-control {
			float: left;
		}
		&__right-control {
			float: right;
		}

		&__carousel-indicators {
			text-align: center;
			line-height: $navigation-height;

			li {
				display: inline-block;
				width: 9px;
				height: 9px;
				margin: 0 9px;
				vertical-align: middle;
				background-color: #363839;
				border: none;
				border-radius: 50%;
				@include cursor(hover);
				transition: background-color .15s ease-in;

				&:hover,
				&:focus {
					background-color: darken($color-text, 30%);
				}
				&.active {
					background-color: $color-text;
				}
			}
		}

	&__caption {
		width: 310px;
		margin: 0;
		padding: 10px 15px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-size: 10px;
		line-height: 20px;
		letter-spacing: $letter-sp-medium;
		background-color: rgba($color-text, .7);
		color: $color-darkgray;
	}

	@media (max-width: $breakpoints-sm) {
		&__caption {
			width: 100%;
			padding: 15px 6%;
			position: absolute;
			top: auto;
			bottom: 30px;
			transform: none;
			text-align: center;
		}

		&__left-control,
		&__right-control {
			width: 50px;
			line-height: 80px;
		}
		&__carousel-indicators {
			line-height: 80px;
		}
	}

	@media (max-width: $breakpoints-xs) {
		&__caption {
			bottom: 80px;
		}

		&__left-control,
		&__right-control {
			margin-top: -80px;
			position: relative;
			z-index: 1;

			.s-icon {
				filter: drop-shadow(0 1px 0 rgba(0,0,0, .6));
			}
		}
		&__carousel-indicators {
			display: none;
		}
	}
}
// Large SHOP slider - end

// Video player
.video-player {
	&__link {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		text-align: center;
		@include cursor(hover);
	}

	&__filter-layer {
		box-shadow: inset 0 38px 0 #121212, inset 0 -38px 0 #121212;
		background-image: linear-gradient(
			to bottom, 
			rgba(0,0,0, .5), rgba(0,0,0, .5) 1px, 
			transparent 3px, transparent 3px
		);
		background-size: 100% 3px;

		&,
		&:before {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		// white overlay on hover
		&:before {
			content: "";
			background-color: transparent;
		}

		&:hover {
			&:before {
				background-color: rgba(#a6abb0, .06);
			}

			.s-icon {
				filter: drop-shadow(0 0 25px rgba(255,255,255, .5));
			}
		}

		// triangle icon (aka play)
		.s-icon {
			position: relative;
			top: 50%;
			margin-top: -($sprite-play-video-height / 2);
			filter: drop-shadow(0 0 15px rgba(255,255,255, .4));
		}
	}

	&__preview {
		padding-bottom: 56.25%; /* ~ 16:9 */

		&__media {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
			filter: grayscale(100%) brightness(25%) contrast(90%);
		}
	}

	&__filter-layer:before,
	&__filter-layer .s-icon,
	&__preview__media {
		transition: all .3s ease-in;
	}

	&__link,
	&__filter-layer {
		transition: all .5s ease-in;
	}

	&.play {
		.video-player {
			&__filter-layer {
				box-shadow: inset 0 0 0 #121212, inset 0 0 0 #121212;
				background: transparent;
				pointer-events: none;

				.s-icon {
					opacity: 0;
				}
			}

			&__preview {
				&__media {
					filter: grayscale(0%) brightness(100%) contrast(100%);
				}
			}
		}
	}

	@media (max-width: $breakpoints-sm) {
		&__filter-layer {
			.s-icon {
				transform: scale(.8);
			}
		}
	}

	@media (max-width: $breakpoints-xs) {
		margin-right: -15px;
		margin-left: -15px;

		&__filter-layer {
			.s-icon {
				transform: scale(.7);
			}
		}
	}
}
// Video player - end

// All features
.all-features {
	$box-covericon-height: 81px;

	margin-top: 190px;

	a {
		padding-bottom: 1px;
		border-bottom: 1px solid $color-gray;
		color: inherit;
		transition: color .15s ease-in;

		&:hover,
		&:focus {
			color: $color-text;
			text-decoration: none;
		}
	}
	
	&__title {
		margin: 0 0 65px;
		font-size: 18px;
		letter-spacing: $letter-sp-medium;
	}
	
	&__box {
		margin-bottom: 100px;
		padding: 0 6%;
		color: $color-lightgray;

		&__icon {
			margin-bottom: 24px;
			padding-bottom: 14px;
			min-height: $box-covericon-height;
			line-height: $box-covericon-height;
			border-bottom: 1px solid lighten($color-darkgray, 4%);
			overflow: hidden;

			img {
				max-height: $box-covericon-height;
			}
		}
		&__title {
			min-height: 34px;
			margin: 0 0 20px;
			font-size: 12px;
			letter-spacing: $letter-sp-medium;
			line-height: 1.4em;
		}
		&__text {
			margin: 0;
			padding: 0 8%;
			font: normal normal 12px/1.6em Arial, sans-serif;
			text-transform: none;
			text-align: left;
		}
	}


	@media (max-width: $breakpoints-md) {
		margin-top: 160px;

		&__box {
			margin-bottom: 80px;
		}
	}

	@media (max-width: 680px) {
		&__box {
			margin-bottom: 80px;
			padding: 0;

			&__text {
				padding: 0;
			}
		}
	}

	@media (max-width: $breakpoints-sm) {
		margin-top: 130px;
	}

	@media (max-width: $breakpoints-xs) {
		margin-top: 100px;

		&__title {
			margin-bottom: 45px;
		}

		&__box {
			margin-bottom: 55px;

			&__icon {
				margin-right: -15px;
				margin-left: -15px;
			}
		}
	}

	@media (min-width: $breakpoints-md) {
		.col-md-4:nth-child(3n+1) {
			clear: both;
		}
	}
	@media (max-width: $breakpoints-md - 1px) and (min-width: $breakpoints-xs) {
		.col-xs-6:nth-child(2n+1) {
			clear: both;
		}
	}
}
// All features - end

// More shop items
.shop-items {
	$ghost-circle-size: 60px;
	$ghost-circle-size-xs: 40px;
	$image-size: 200px;
	$image-size-xs: 160px;

	margin-top: 160px;
	text-align: center;

	&__title {
		margin: 0 0 80px;
		font-size: 16px;
		letter-spacing: $letter-sp-medium;
	}

	&__item {
		display: block;
		margin-bottom: 60px;
		color: $color-text;

		&--unreleased {
			margin-bottom: -10px;
			color: $color-gray;
		}

		&--ghost {
			position: relative;
			
			&:after {
				content: "";
				position: absolute;
				top: $image-size/2 - $ghost-circle-size/2;
				left: 50%;
				margin-left: -$ghost-circle-size/2;
				width: $ghost-circle-size;
				height: $ghost-circle-size;
				z-index: -1;
				border-radius: 50%;
				box-shadow: 0 0 0 $color-lightgray;

				transition: box-shadow 4s cubic-bezier(.22,.61,.36, 1);
			}

			img {
				filter: drop-shadow(0 0 0 transparent);
				transition: filter 4s cubic-bezier(.22,.61,.36, 1);
			}

			&:hover {
				&:after {
					box-shadow: 0 0 60px 45px $color-lightgray;
				}

				img {
					filter: drop-shadow(0 0 10px $color-darkgray);
				}
			}
		}

		&__photo {
			height: $image-size;
			line-height: $image-size;
			margin-bottom: 50px;

			img {
				max-height: 100%;
			}
		}

		&__name {
			margin-bottom: 16px;
			font-size: 10px;
			line-height: 11px;
			letter-spacing: $letter-sp-medium;
			font-weight: 600;
		}
		&__price {
			margin-bottom: 14px;
			color: darken($color-text, 30%);
			font-size: 12px;
			letter-spacing: $letter-sp-medium;
		}
		&__sale {
			margin-left: 2px;
			padding: 0 6px;
			color: $color-gray;
			font-size: 12px;
			letter-spacing: $letter-sp-medium;
			background-image: linear-gradient(to bottom, transparent, $color-gray 1px);
			background-size: 100% 1px;
			background-repeat: no-repeat;
			background-position: 0 50%;
		}
		&__status {
			font-size: 7px;
			letter-spacing: .16em;
			color: $color-gray;
		}
		&__description {
			margin-bottom: 16px;
			padding: 0 40px;
			line-height: 11px;
			font-size: 7px;
			letter-spacing: $letter-sp-medium;
		}
		&__track {
			padding: 0 2px 0 3px;
			color: $color-darkgray !important;
			background-color: #287a42;
			transition: background-color .15s ease-in;

			&:hover {
				background-color: #32fd71;
			}
		}
		&__faq {
			display: inline-block;
			width: 14px;
			line-height: 12px;
			font-size: 10px;
			border: 1px solid #2f2f30;
			background-color: #242526;
			color: #303132;
			transition: all .15s ease-in;

			&:hover {
				color: #565758;
				border-color: #373839;
			}
		}
	}

	@media (max-width: $breakpoints-md) {
		margin-top: 130px;

		&__item {
			&__photo {
				margin-bottom: 30px;
			}
		}
	}

	@media (max-width: $breakpoints-sm) {
		&__title {
			margin-bottom: 60px;
		}

		&__item {
			&__description {
				padding: 0 20px;
			}
		}
	}

	@media (max-width: $breakpoints-xs) {
		margin-top: 110px;

		&__title {
			margin-bottom: 50px;
		}

		&__item {
			&--ghost {
				&:after {
					top: $image-size-xs/2 - $ghost-circle-size-xs/2;
					margin-left: -$ghost-circle-size-xs/2;
					width: $ghost-circle-size-xs;
					height: $ghost-circle-size-xs;
				}

				&:hover {
					&:after {
						box-shadow: 0 0 50px 35px $color-lightgray;
					}
				}
			}

			&__photo {
				height: $image-size-xs;
				line-height: $image-size-xs;
				margin-bottom: 0;
			}
			&__name {
				margin-bottom: 13px;
			}
			&__price {
				margin-bottom: 10px;
			}
			&__description {
				padding: 0;

				br {
					display: none;
				}
			}
		}
	}
}
// More shop items - end