#catalog {
	$sidebar-width: 308px;
	$content-width: $site-width - $sidebar-width - 2px; // 2px = side borders

	display: flex;
	flex-wrap: wrap;
	margin-top: 17px;

	// Sidebar
	.sidebar {
		flex: 0 0 $sidebar-width;
	}
	// Sidebar - end

	// Content
	.content {
		flex: 0 1 $content-width;

		.hgroup {
			margin: 8px 20px 0 28px;
			height: 68px;
		}
	}
		h1 {
			margin: 0;
			font-size: 28px;
			font-style: italic;
			color: #8d2724;
		}
		.total-users {
			float: right;
			margin-top: 3px;
			font-size: 10px;
			font-style: italic;
			color: #bababa;
		}

		.users-table {
			width: $content-width + 1px;
			margin-left: -1px;
			border-left: 1px solid #e3e3e3;
			font-size: 9px;
			line-height: 10px;
			color: #aeafb1;

			tr:nth-child(2) td {
				border-top: none;
			}

			th,
			td {
				vertical-align: middle;
			}

			th {
				text-align: left;
				font-size: 10px;
				font-style: italic;
				color: #bababa;
			}

			td {
				height: 102px;
				padding: 0;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #ededed;
			}

			.about {
				width: 280px;
				padding-left: 28px;
			}
			td.about {
				padding-left: 86px;
				font-size: 10px;
				line-height: 13px;
			}
				.username {
					font-size: 14px;
					line-height: 22px;
				}
					a {
						color: #4c4c4c;
						text-decoration: none;
						border-bottom: 1px solid #dbdbdb;

						&:hover,
						&:focus {
							color: #000;
							border-color: #c6c6c6;
						}
					}
					.userpic {
						float: left;
						width: 30px;
						height: 40px;
						margin: 0 0 0 -54px;
						box-shadow: -1px   0 0 #E1E0E2, -1px 1px 0 #B5B2B8,
						            -2px 1px 0 #E1E0E2, -2px 2px 0 #B5B2B8,
						             2px 3px 7px rgba(0,0,0, .12);
						background-color: #f4f4f4;

						img {
							display: block;
							width: 100%;
						}
					}
					.skills {
						color: #959699;
						margin-top: 4px;
					}
			.age {
				width: 50px;
				text-align: right;

				b {
					display: block;
					font-size: 11px;
					color: #848588;
					margin-bottom: 3px;
				}
			}
			.transport {
				width: 64px;
				text-align: center;

				.sprite-icon {
					display: block;
					margin: 0 auto 5px;
				}
			}
			.reviews {
				width: 90px;
			}
				.stars {
					width: 82px;
					height: 14px;
					margin: 1px 0 3px;
					background: url('../images/stars.png') repeat-x;
					overflow: hidden;

					&__progress {
						width: 0;
						height: inherit;
						background: inherit;
						background-position: 0 -14px;

						@for $i from 1 through 5 {
						&.s-#{$i} {
							width: 17px * $i;
						}
						}
					}
				}
			.rating {
				width: 60px;
				padding-right: 20px;
				
				&__line {
					height: 3px;
					margin: 4px 0;
					overflow: hidden;
					background-color: #e7f0de;
				}
				&__progress {
					height: inherit;
					background-color: #9dcb60;
					border-right: 2px solid #fcfcfc;
				}
			}
		}
	// Content - end
}

// Pagination
.paginator {
	$pagination-height: 65px;
	$direction-width: 72px;
	$page-btn-size: 34px;

	display: flex;
	height: $pagination-height;
	line-height: $pagination-height - 1px;
	margin: 20px 16px 5px 5px;

	background-color: #f3f3f3;
	box-shadow: -1px   0 0 #E4E3E5,    0 1px 0 #B5B2B8,
	            -2px 1px 0 #E4E3E5, -1px 2px 0 #B5B2B8,
	            -3px 2px 0 #E4E3E5, -2px 3px 0 #B5B2B8,
	            -4px 3px 0 #E4E3E5, -3px 4px 0 #B5B2B8,
	            -5px 4px 0 #E4E3E5, -4px 5px 0 #B5B2B8,
	            -5px 5px 0 #E4E3E5, -5px 5px 0 #B5B2B8;
	text-align: center;

	.pages {
		flex: 1 1 auto;
		height: inherit;
		border-width: 0 1px;
		border-style: solid;
		border-color: transparent #dedede transparent #fcfcfc;
	}
		.caption {
			margin-right: 11px;
			font-size: 12px;
			color: #818181;
		}
		.page {
			display: inline-block;
			width: $page-btn-size;
			height: $page-btn-size;
			text-align: center;
			font-size: 15px;
			line-height: $page-btn-size - 2px;
			font-weight: bold;
			vertical-align: middle;
			text-decoration: none;
			color: #4c4c4c;
			border: 1px solid #e0e0e0;

			&:hover,
			&:focus {
				background-color: #e2e2e2;
			}

			&.current {
				color: #fff;
				background-color: #e33c3a;
				border-color: transparent;
			}
		}

	.direction {
		display: block;
		width: $direction-width;
		height: inherit;

		&.prev {
			border-right: 1px solid #dedede;
		}
		&.next {
			border-left: 1px solid #fcfcfc;
		}
	}
	a.direction {
		&:hover,
		&:focus {
			background-color: #e2e2e2;
		}
	}
	div.direction {
		.sprite-icon {
			opacity: .2;
		}
	}
}
// Pagination - end

// Scroll to top
.scroll-top {
	margin-top: 60px;
	padding-top: 16px;
	background: #f8f8f8 url('../images/header-under-x.png') repeat-x 0 0;
	text-align: center;
	font-size: 11px;
	color: #6b6b6b;

	&__link {
		display: block;
		padding: 22px 0 24px;
		text-decoration: none;

		&:hover,
		&:focus {
			color: #383838;
		}

		.sprite-icon {
			margin: 0 7px 0 0;
			vertical-align: -1px;
		}
	}
	&__inner {
		text-decoration: underline;
	}
}
// Scroll to top - end

// Filters from sidebar
#filters {
	margin-left: 5px;
	border-top: 1px solid #ededed;
	border-right: 1px solid #e3e3e3;
	box-shadow: -1px   0 0 #E4E3E5,    0 1px 0 #B5B2B8,
	            -2px 1px 0 #E4E3E5, -1px 2px 0 #B5B2B8,
	            -3px 2px 0 #E4E3E5, -2px 3px 0 #B5B2B8,
	            -4px 3px 0 #E4E3E5, -3px 4px 0 #B5B2B8,
	            -5px 4px 0 #E4E3E5, -4px 5px 0 #B5B2B8,
	            -5px 5px 0 #E4E3E5, -5px 5px 0 #B5B2B8,
	             2px 8px 10px rgba(#000, .08);
	color: #4c4c4c;
	
	.filters-caption {
		font-size: 18px;
		font-style: italic;
		margin: 20px 0 46px 24px;

		.sprite-icon {
			margin-left: 0;
			transform: translateY(-2px);
		}
	}

	.spoilers {
		background-color: #f3f3f3;
		margin-left: -1px;
	}
		.spoiler {
			border-top: 2px solid #dedede;
			margin-top: -2px;

			&:last-of-type {
				border-bottom: 1px dotted #ccc;

				.filter-row:last-of-type {
					border-bottom: none;
				}
			}

			&_caption {
				display: block;
				padding-left: 15px;
				font-size: 13px;
				line-height: 50px;
				font-style: italic;
				color: #b94544;
				user-select: none;

				&:hover,
				&:focus {
					color: #d30000;

					.arrow:after {
						border-color: transparent transparent #d30000 transparent;
					}
				}

				.arrow {
					display: inline-block;
					position: relative;
					padding-right: 15px;

					&:after {
						content: "";
						position: absolute;
						top: 48%;
						right: 0;
						margin-top: -3px;
						border-style: solid;
						border-width: 4px 3px;
						border-color: transparent transparent #a92f23 transparent;
					}
				}
			}
			&_content {
				overflow: hidden;
				max-height: 800px;
				transition: max-height .35s ease-in-out, visibility .35s ease-in-out;
				border-top: 1px dotted #ccc;
			}

			input[name="placeholder"] {
				position: absolute;
				width: 0;
				height: 0;
				opacity: 0;

				&:checked {
					& ~ .spoiler_caption {
						.arrow:after {
							border-color: #a92f23 transparent transparent transparent;
							transform: translateY(4px);
						}

						&:hover .arrow:after {
							border-color: #d30000 transparent transparent transparent;
						}
					}
					& ~ .spoiler_content {
						max-height: 0;
						visibility: hidden;
					}
				}
			}
		}

	.max-height {
		max-height: 204px;
		overflow-y: auto;
	}

	.filter-rows {
		font-size: 11px;
		line-height: 13px;
	}
		.filter-row {
			display: flex;
			align-items: center;
			height: 51px;
			border-bottom: 1px dotted #ccc;
			color: #a9a9a9;

			select,
			input[type="text"] {
				width: 100%;
				height: 37px;
				padding: 0 12px;
				border: 1px solid;
				border-color: #e0e0e0 #f0f0f0 #f0f0f0 #e0e0e0;
				font-size: 12px;
				color: #6b6b6b;
			}
			select {
				appearance: none;
				background: #f9f9f9 url('../images/select-arrow.png') no-repeat 100% 50%;
			}
		}
			.filter-col {
				&--25 {
					flex-basis: 25%;
				}
				&--50 {
					flex-basis: 50%;
				}
				&--75 {
					flex-basis: 75%;
				}
				&--100 {
					flex-basis: 100%;
					padding-left: 7px !important;
				}

				&:first-of-type {
					padding: 0 15px 0 12px;
				}

				&:last-of-type {
					padding: 0 7px 0 0;
				}
			}

			.labels {
				padding: 14px;

				& ~ dl {
					margin-top: -4px;
				}

				input {
					margin-right: 8px;
					vertical-align: -2px;
				}

				dt {
					font-size: 12px;
					margin-bottom: 12px;
				}
				dd ~ dd {
					margin-top: 6px;
				}

				&--lighten {
					dd {
						color: #949494;
					}
				}
			}

			// Reviews stars
			.stars {
				input[type="radio"] {
					display: none;
					
					&:checked {
						& + label {
							&,
							& ~ label {
								@include sprite-position($sprite-star);
							}
						}
					}
				}

				label {
					display: block;
					float: right;
					@include sprite($sprite-star_gray);

					& ~ label {
						margin-right: 6px;
					}
				}

				&:hover,
				&:focus {
					input[type="radio"]:checked + label,
					label {
						&,
						& ~ label {
							@include sprite-position($sprite-star_gray);
						}
					}

					label {
						&:hover,
						&:focus {
							&,
							& ~ label {
								// We can't use here "@include sprite-position($sprite-star);"
								// because we need "!important"
								// that is incompatible with sass's @include
								background-position: nth($sprite-star, 3) nth($sprite-star, 4) !important;
							}
						}
					}
				}
			}

	.filters-footer {
		padding: 25px;
		text-align: center;
	}
}
// Filters from sidebar - end