#footer {
	margin-top: 44px;

	.seo-description {
		margin-bottom: 44px;
		font-size: 11px;
		line-height: 1.2em;
		text-align: justify;
	}

	.divider {
		border-color: #eaeaea;
	}

	.navigation {
		display: flex;
		margin-top: 34px;
		font-size: 12px;
		line-height: 14px;
		color: #6b6b6b;

		.column {
			width: 25%;
			flex: 1;
		}

		.about-us {
			align-self: flex-end;

			p {
				margin: 1em 0 0;
			}
		}

		li ~ li {
			margin-top: 7px;
		}

		a {
			&:hover,
			&:focus {
				color: #2d2e32;
			}
		}
	}

	.logo-line {
		height: 41px;
		margin-top: 35px;
		background-color: #e33c3a;
		color: #fff;

		.logo {
			float: left;
			width: 95px;
			height: 50px;
			margin: -11px 0 0 -3px;
			background-image: url('../images/footer-logo.png');
		}
	}
}