#header {
	$darkgray-height: 11px;
	$red-height:      43px;
	$gray-height:     71px;
	$stripes-height:  $red-height + $gray-height;

	min-width: $site-width;
	height: $stripes-height;

	background-color: #efefef;
	background-image:
		url('../images/header-background.png'),
		// darkgray line
		linear-gradient( #b0b0b0, #bfbfbf $darkgray-height ),
		// red line
		linear-gradient( #e53a33 $darkgray-height, #e53a33 $red-height ),
		// gray line - left
		linear-gradient( #efefef $red-height, #efefef $gray-height ),
		// gray line - right
		linear-gradient( #e3e3e3 $red-height, #e3e3e3 $gray-height );
	background-repeat: no-repeat;
	background-position: 50% 0, 0 0, 0 0, 0 0, 100% 0;
	background-size: auto, 100% $darkgray-height, 100% $red-height, 50% $stripes-height, 50% $stripes-height;

	// Red line
	.top-line {
		height: $red-height;
		padding-top: 4px;
		color: #fff;
	}
		// Menu
		.navigation {
			float: left;
			width: 482px;
			margin: 4px 0 0 215px;
			text-align: right;
			font-size: 11px;
			line-height: 35px;

			a {
				display: inline-block;
				margin-left: 18px;

				&:hover,
				&:focus {
					color: #ffe1e1;
				}
			}
		}
		// Link to user's profile
		.user-panel {
			float: right;
			width: 234px;
			font-size: 13px;
			line-height: 34px;
			text-align: center;

			a {
				text-decoration: none;

				.underline {
					padding-bottom: 1px;
					border-bottom: 1px dashed #f2a7a6;
				}

				&:hover,
				&:focus {
					.underline {
						border-bottom-style: solid;
					}
				}
			}
		}
	// Red line - end

	// Gray line
	.bottom-line {
		height: 65px;
	}
		.logo {
			float: left;
			width: 182px;
			height: 70px;
			margin: -22px 0 0 19px;
		}
		.slogan {
			float: left;
			margin-left: 44px;
			font-size: 31px;
			line-height: 62px;
			font-weight: 300;
			color: #767676;
		}
		.phone-number {
			float: right;
			margin: 12px 8px 0 0;
			font-size: 26px;
			font-weight: 300;
			text-align: right;
			text-decoration: none;
			color: $color-red;

			small {
				display: block;
				margin: 7px 4px 0 0;
				font-size: 11px;
				font-weight: 400;
			}
		}
	// Gray line
}