@import url('https://fonts.googleapis.com/css?family=Asap:700');

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Asap', sans-serif;
	font-size: 15px;
	padding: 0;
	color: rgba(0,0,0, .7);
	background: #FFE383;
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(0,0,0, .1);
}

/* HARD Reset */
* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 610px;
	margin: 0 auto;
}

header {
	text-align: center;
	margin-bottom: 3em;
	padding: 1.8em 0 2em;
	background-color: rgba(0,0,0, .04);
}
	h1 {
		font-size: 4em;
		margin-bottom: .2em;
	}

main {
	padding-bottom: 50px;
}

	h2 {
		margin-bottom: 20px;
	}

	main p {
		color: rgba(0,0,0, .3);
	}

	.movie-blocks {
		margin-bottom: 60px;
	}

	.color-themes {
		color: #fff;
		display: table;
		width: 100%;
		text-align: center;
	}
		.color-themes li {
			height: 50px;
			vertical-align: middle;
			display: table-cell;
		}