/*!
 * Movie Blocks v1.0.0
 * By Elegant Division
 * http://e-div.com
 */
.movie-block {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  min-height: 11em;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: #edcb59;
  background-color: #616f75;
}

.movie-block,
.movie-block * {
  box-sizing: border-box;
}

.movie-block .genre,
.movie-block .main-inform,
.movie-block .main-inform_inner,
.movie-block .extra-inform,
.movie-block .extra-inform_inner,
.movie-block .big-hours {
  position: absolute;
  width: 100%;
}

.movie-block .genre,
.movie-block .main-inform_inner,
.movie-block .big-hours,
.movie-block .extra-inform_inner {
  padding-right: 10px;
  padding-left: 10px;
}

.movie-block .genre {
  z-index: 4;
  height: 2.250em;
  top: -2.250em;
  padding-top: 2.250em;
  overflow: hidden;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.2);
  -webkit-transition: top 0.25s cubic-bezier(0.22, 0.61, 0.36, 1), padding 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s;
  -o-transition: top 0.25s cubic-bezier(0.22, 0.61, 0.36, 1), padding 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s;
  transition: top 0.25s cubic-bezier(0.22, 0.61, 0.36, 1), padding 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s;
}

.movie-block .main-inform {
  z-index: 3;
  top: 0;
  bottom: -.875em;
  overflow: hidden;
  background-color: rgba(60, 60, 60, 0.6);
  border-bottom: 2.125em solid #616f75;
  -webkit-transition: bottom 0.41667s cubic-bezier(0.17, 0.84, 0.44, 1) 0.08333s, border-bottom 0.33333s cubic-bezier(0.39, 0.58, 0.57, 1) 0.16667s;
  -o-transition: bottom 0.41667s cubic-bezier(0.17, 0.84, 0.44, 1) 0.08333s, border-bottom 0.33333s cubic-bezier(0.39, 0.58, 0.57, 1) 0.16667s;
  transition: bottom 0.41667s cubic-bezier(0.17, 0.84, 0.44, 1) 0.08333s, border-bottom 0.33333s cubic-bezier(0.39, 0.58, 0.57, 1) 0.16667s;
}

.movie-block .main-inform_inner {
  bottom: .875em;
  -webkit-transition: bottom 0.5s ease-out;
  -o-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out;
}

.movie-block .main-inform_inner .hours {
  margin-bottom: .1em;
  font-size: 2.4em;
}

.movie-block .big-hours {
  z-index: 2;
  bottom: -.536em;
  font-size: 2.8em;
  color: #fff;
  -webkit-transition: bottom 0.16667s ease-out;
  -o-transition: bottom 0.16667s ease-out;
  transition: bottom 0.16667s ease-out;
}

.movie-block .extra-inform {
  z-index: 4;
  height: 1.250em;
  bottom: 0;
  overflow: hidden;
  border-top: 0 solid #fff;
  background-color: #616f75;
  -webkit-transition: height 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
  -o-transition: height 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
  transition: height 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.movie-block .extra-inform_inner {
  position: absolute;
  height: 3.526em;
  bottom: 4.105em;
  font-size: 1.2em;
  line-height: 1em;
  -webkit-transition: bottom 0.5s ease-out 0.08333s;
  -o-transition: bottom 0.5s ease-out 0.08333s;
  transition: bottom 0.5s ease-out 0.08333s;
}

.movie-block .extra-inform_inner .title {
  color: #fff;
}

.movie-block .extra-inform_inner .subtitle {
  margin-top: .15em;
  color: rgba(0, 0, 0, 0.35);
}

.movie-block .cover {
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out, -o-transform 0.5s ease-out;
}

.movie-block .cover img {
  display: block;
  width: 100%;
}

.movie-block:hover .genre, .movie-block:focus .genre, .movie-block.active .genre {
  top: 0;
  padding-top: .750em;
  border-bottom-width: 0;
  -webkit-transition-delay: 0.5s, 0.58824s;
  -o-transition-delay: 0.5s, 0.58824s;
  transition-delay: 0.5s, 0.58824s;
}

.movie-block:hover .main-inform, .movie-block:focus .main-inform, .movie-block.active .main-inform {
  bottom: 100%;
  border-bottom-width: 0;
}

.movie-block:hover .main-inform_inner, .movie-block:focus .main-inform_inner, .movie-block.active .main-inform_inner {
  bottom: -30em;
}

.movie-block:hover .extra-inform, .movie-block:focus .extra-inform, .movie-block.active .extra-inform {
  height: 4.625em;
  -webkit-animation: border-bounce 0.5s ease;
  -o-animation: border-bounce 0.5s ease;
  animation: border-bounce 0.5s ease;
}

.movie-block:hover .extra-inform_inner, .movie-block:focus .extra-inform_inner, .movie-block.active .extra-inform_inner {
  bottom: 0;
}

.movie-block:hover .big-hours, .movie-block:focus .big-hours, .movie-block.active .big-hours {
  bottom: 1.652em;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0.08333s;
  -o-transition-delay: 0.08333s;
  transition-delay: 0.08333s;
}

.movie-block:hover .cover, .movie-block:focus .cover, .movie-block.active .cover {
  -webkit-transform: translateY(-1.25em);
  -ms-transform: translateY(-1.25em);
  -o-transform: translateY(-1.25em);
  transform: translateY(-1.25em);
}

.movie-block--square {
  padding-bottom: 100%;
}

.movie-block ~ .movie-block {
  margin-left: 2%;
}

.movie-block--2 {
  width: 49%;
}

.movie-block--2.movie-block--square {
  padding-bottom: 49%;
}

.movie-block--3 {
  width: 32%;
}

.movie-block--3.movie-block--square {
  padding-bottom: 32%;
}

.movie-block--pink .main-inform {
  border-bottom-color: #e90d4e;
}

.movie-block--pink .extra-inform {
  background-color: #e90d4e;
}

.movie-block--purple .main-inform {
  border-bottom-color: #7055b0;
}

.movie-block--purple .extra-inform {
  background-color: #7055b0;
}

.movie-block--blue .main-inform {
  border-bottom-color: #1378B4;
}

.movie-block--blue .extra-inform {
  background-color: #1378B4;
}

.movie-block--green .main-inform {
  border-bottom-color: #0BC651;
}

.movie-block--green .extra-inform {
  background-color: #0BC651;
}

.movie-block--orange .main-inform {
  border-bottom-color: #FF6F0E;
}

.movie-block--orange .extra-inform {
  background-color: #FF6F0E;
}

.movie-block--yellow .main-inform {
  border-bottom-color: #FFDC0E;
}

.movie-block--yellow .extra-inform {
  background-color: #FFDC0E;
}

@-webkit-keyframes border-bounce {
  0% {
    border-top-width: 0;
  }
  50% {
    border-top-width: 8px;
  }
  100% {
    border-top-width: 0;
  }
}

@-o-keyframes border-bounce {
  0% {
    border-top-width: 0;
  }
  50% {
    border-top-width: 8px;
  }
  100% {
    border-top-width: 0;
  }
}

@keyframes border-bounce {
  0% {
    border-top-width: 0;
  }
  50% {
    border-top-width: 8px;
  }
  100% {
    border-top-width: 0;
  }
}
