/*!
 * Movie Blocks v1.0.0
 * By Elegant Division
 * http://e-div.com
 */

// Variables
$blocks_attr-name: '.movie-block';
$blocks_font-size: 16px;
$blocks_grid-gap: 2%;
$blocks_grid-columns: 3;
$blocks_animation-speed: 0.5s;
$blocks_primary-color: #edcb59;
$blocks_secondary-color: #fff;
$blocks_background-color: #616f75;
$blocks_hover-color: #3C3C3C;
$blocks_themes: (
	('pink',   #e90d4e),
	('purple', #7055b0),
	('blue',   #1378B4),
	('green',  #0BC651),
	('orange', #FF6F0E),
	('yellow', #FFDC0E)
);
// Config
$blocks_opt_squares: true;
$blocks_opt_grid: true;
$blocks_opt_themes: true;

// Let's rock
#{$blocks_attr-name} {
	float: left;
	display: block;
	position: relative;
	width: 100%;
	min-height: 11em;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
	font-size: $blocks_font-size;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
	color: $blocks_primary-color;
	background-color: $blocks_background-color;

	&,
	& * {
		box-sizing: border-box
	}

	.genre,
	.main-inform,
	.main-inform_inner,
	.extra-inform,
	.extra-inform_inner,
	.big-hours {
		position: absolute;
		width: 100%;
	}

	.genre,
	.main-inform_inner,
	.big-hours,
	.extra-inform_inner {
		padding-right: 10px;
		padding-left: 10px;
	}

	.genre {
		z-index: 4;
		height: 2.250em;
		top: -2.250em;
		padding-top: 2.250em;
		overflow: hidden;
		color: $blocks_secondary-color;
		background-color: rgba($blocks_hover-color, .2);
		transition: top ($blocks_animation-speed/2) cubic-bezier(.22,.61,.36,1),
					padding ($blocks_animation-speed/2) cubic-bezier(.22,.61,.36,1) ($blocks_animation-speed/2)
	}

	.main-inform {
		z-index: 3;
		top: 0;
		bottom: -.875em;
		overflow: hidden;
		background-color: rgba($blocks_hover-color, .6);
		border-bottom: 2.125em solid $blocks_background-color;
		transition: bottom ($blocks_animation-speed/1.2) cubic-bezier(.17,.84,.44,1) ($blocks_animation-speed/6),
					border-bottom ($blocks_animation-speed/1.5) cubic-bezier(.39,.58,.57,1) ($blocks_animation-speed/3);

		&_inner {
			bottom: .875em;
			transition: bottom $blocks_animation-speed ease-out;

			.hours {
				margin-bottom: .1em;
				font-size: 2.4em;
			}
		}
	}

	.big-hours {
		z-index: 2;
		bottom: -.536em;
		font-size: 2.8em;
		color: $blocks_secondary-color;
		transition: bottom ($blocks_animation-speed/3) ease-out;
	}
	
	.extra-inform {
		z-index: 4;
		height: 1.250em;
		bottom: 0;
		overflow: hidden;
		border-top: 0 solid #fff;
		background-color: $blocks_background-color;
		transition: height $blocks_animation-speed cubic-bezier(.17,.84,.44,1);

		&_inner {
			position: absolute;
			height: 3.526em;
			bottom: 4.105em;
			font-size: 1.2em;
			line-height: 1em;
			transition: bottom $blocks_animation-speed ease-out ($blocks_animation-speed/6);

			.title {
				color: $blocks_secondary-color;
			}
			.subtitle {
				margin-top: .15em;
				color: rgba(0,0,0, .35);
			}
		}
	}

	.cover {
		height: 100%;
		transition: transform $blocks_animation-speed ease-out;

		img {
			display: block;
			width: 100%;
		}
	}

	// Activate the animation
	&:hover,
	&:focus,
	&.active {
		.genre {
			top: 0;
			padding-top: .750em;
			border-bottom-width: 0;
			transition-delay: $blocks_animation-speed, ($blocks_animation-speed/0.85);
		}
		.main-inform {
			bottom: 100%;
			border-bottom-width: 0;
		}
			.main-inform_inner {
				bottom: -30em;
			}
		.extra-inform {
			height: 4.625em;
			animation: border-bounce $blocks_animation-speed ease;
		}
		.extra-inform_inner {
			bottom: 0;
		}
		.big-hours {
			bottom: 1.652em;
			transition-duration: $blocks_animation-speed;
			transition-delay: $blocks_animation-speed/6;
		}
		.cover {
			transform: translateY(-1.250em);
		}
	}

	// Square blocks
	@if $blocks_opt_squares {
	&--square {
		padding-bottom: 100%;
	}
	}

	// Grid
	@if $blocks_opt_grid {
	& ~ & {
		margin-left: $blocks_grid-gap;
	}
	@for $i from 2 through $blocks_grid-columns {
		$size: (100% - $blocks_grid-gap * ($i - 1)) / $i;

		&--#{$i} {
			width: $size;

			@if $blocks_opt_squares {
			&#{$blocks_attr-name}--square {
				padding-bottom: $size;
			}
			}
		}
	}
	}

	// Color themes
	@if $blocks_opt_themes {
	@each $color-name, $color-value in $blocks_themes {
		&--#{$color-name} {
			.main-inform {
				border-bottom-color: $color-value;
			}
			.extra-inform {
				background-color: $color-value;
			}
		}
	}
	}
}

// Animations
@keyframes border-bounce {
	0% {
		border-top-width: 0;
	}
	50% {
		border-top-width: 8px;
	}
	100% {
		border-top-width: 0;
	}
}