* {
	box-sizing: border-box;
}

body {
	font: normal 14px/1.4em $default-font;
	color: $color-text;
}

a {
	color: inherit;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

h1,
h2,
h3,
h4,
th,
dt {
	font-weight: 400;
}

label {
	cursor: pointer;
}

.hidden-text {
	overflow: hidden;
	text-indent: -999px;
}

.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}

.nav {
	&,
	li,
	dt,
	dd {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.btn {
	height: 33px;
	margin: 0 0 6px 6px;
	padding: 0 10px;
	border: none;
	background-color: #95c557;
	background-image: linear-gradient(#95c557 0, #9bcd5a 100%);
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	box-shadow: -1px   0 0 #aae061,    0 1px 0 #8cb750,
	            -2px 1px 0 #aae061, -1px 2px 0 #8cb750,
	            -3px 2px 0 #aae061, -2px 3px 0 #8cb750,
	            -4px 3px 0 #aae061, -3px 4px 0 #8cb750,
	            -5px 4px 0 #aae061, -4px 5px 0 #8cb750,
	            -5px 5px 0 #aae061, -5px 5px 0 #8cb750;
	
	&:hover,
	&:focus {
		background-color: #9dcf5a;
		background-image: linear-gradient(#9dcf5a 0, #a3d75e 100%);
		box-shadow: -1px   0 0 #afe664,    0 1px 0 #8fbb52,
		            -2px 1px 0 #afe664, -1px 2px 0 #8fbb52,
		            -3px 2px 0 #afe664, -2px 3px 0 #8fbb52,
		            -4px 3px 0 #afe664, -3px 4px 0 #8fbb52,
		            -5px 4px 0 #afe664, -4px 5px 0 #8fbb52,
		            -5px 5px 0 #afe664, -5px 5px 0 #8fbb52;
	}
	&:active {
		transform: translateY(1px);
	}

	.sprite-icon {
		margin: 0 .3em 0 0;
		vertical-align: -6px;
	}
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrap {
	width: $site-width;
	margin-right: auto;
	margin-left: auto;
}

#content {
	.wrap {
		background: #fcfcfc url(../images/header-under.png) no-repeat 0 0,
		            #fcfcfc url(../images/header-under-x.png) repeat-x 0 0;
		padding-top: 16px;
		border: solid #f1f1f2;
		border-width: 0 1px;
	}
}
	.breadcrumbs {
		padding: 28px 27px;
		font-size: 11px;
		color: #4a4a4a;
		border-bottom: 1px solid #ededed;

		li {
			float: left;

			& ~ li {
				margin-left: 10px;

				// arrow icon
				&:before {
					content: "";
					float: left;
					margin: 5px 8px 0 0;
					@include sprite($sprite-breacrumbs-arrow);
				}
			}
		}
			a {
				text-decoration: none;
				border-bottom: 1px solid #dbdbdb;

				&:hover {
					color: #000;
					border-color: #c6c6c6;
				}
			}
	}