/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-breacrumbs-arrow-name: 'sprite-breacrumbs-arrow';
$sprite-breacrumbs-arrow-x: 0px;
$sprite-breacrumbs-arrow-y: 37px;
$sprite-breacrumbs-arrow-offset-x: 0px;
$sprite-breacrumbs-arrow-offset-y: -37px;
$sprite-breacrumbs-arrow-width: 6px;
$sprite-breacrumbs-arrow-height: 10px;
$sprite-breacrumbs-arrow-total-width: 24px;
$sprite-breacrumbs-arrow-total-height: 247px;
$sprite-breacrumbs-arrow-image: '../images/sprite.png';
$sprite-breacrumbs-arrow: (0px, 37px, 0px, -37px, 6px, 10px, 24px, 247px, '../images/sprite.png', 'sprite-breacrumbs-arrow', );
$sprite-car-1-name: 'sprite-car-1';
$sprite-car-1-x: 0px;
$sprite-car-1-y: 0px;
$sprite-car-1-offset-x: 0px;
$sprite-car-1-offset-y: 0px;
$sprite-car-1-width: 19px;
$sprite-car-1-height: 6px;
$sprite-car-1-total-width: 24px;
$sprite-car-1-total-height: 247px;
$sprite-car-1-image: '../images/sprite.png';
$sprite-car-1: (0px, 0px, 0px, 0px, 19px, 6px, 24px, 247px, '../images/sprite.png', 'sprite-car-1', );
$sprite-car-2-name: 'sprite-car-2';
$sprite-car-2-x: 0px;
$sprite-car-2-y: 11px;
$sprite-car-2-offset-x: 0px;
$sprite-car-2-offset-y: -11px;
$sprite-car-2-width: 16px;
$sprite-car-2-height: 7px;
$sprite-car-2-total-width: 24px;
$sprite-car-2-total-height: 247px;
$sprite-car-2-image: '../images/sprite.png';
$sprite-car-2: (0px, 11px, 0px, -11px, 16px, 7px, 24px, 247px, '../images/sprite.png', 'sprite-car-2', );
$sprite-car-3-name: 'sprite-car-3';
$sprite-car-3-x: 0px;
$sprite-car-3-y: 23px;
$sprite-car-3-offset-x: 0px;
$sprite-car-3-offset-y: -23px;
$sprite-car-3-width: 16px;
$sprite-car-3-height: 9px;
$sprite-car-3-total-width: 24px;
$sprite-car-3-total-height: 247px;
$sprite-car-3-image: '../images/sprite.png';
$sprite-car-3: (0px, 23px, 0px, -23px, 16px, 9px, 24px, 247px, '../images/sprite.png', 'sprite-car-3', );
$sprite-filter-name: 'sprite-filter';
$sprite-filter-x: 0px;
$sprite-filter-y: 111px;
$sprite-filter-offset-x: 0px;
$sprite-filter-offset-y: -111px;
$sprite-filter-width: 22px;
$sprite-filter-height: 22px;
$sprite-filter-total-width: 24px;
$sprite-filter-total-height: 247px;
$sprite-filter-image: '../images/sprite.png';
$sprite-filter: (0px, 111px, 0px, -111px, 22px, 22px, 24px, 247px, '../images/sprite.png', 'sprite-filter', );
$sprite-paginator-next-name: 'sprite-paginator-next';
$sprite-paginator-next-x: 0px;
$sprite-paginator-next-y: 194px;
$sprite-paginator-next-offset-x: 0px;
$sprite-paginator-next-offset-y: -194px;
$sprite-paginator-next-width: 14px;
$sprite-paginator-next-height: 24px;
$sprite-paginator-next-total-width: 24px;
$sprite-paginator-next-total-height: 247px;
$sprite-paginator-next-image: '../images/sprite.png';
$sprite-paginator-next: (0px, 194px, 0px, -194px, 14px, 24px, 24px, 247px, '../images/sprite.png', 'sprite-paginator-next', );
$sprite-paginator-prev-name: 'sprite-paginator-prev';
$sprite-paginator-prev-x: 0px;
$sprite-paginator-prev-y: 223px;
$sprite-paginator-prev-offset-x: 0px;
$sprite-paginator-prev-offset-y: -223px;
$sprite-paginator-prev-width: 14px;
$sprite-paginator-prev-height: 24px;
$sprite-paginator-prev-total-width: 24px;
$sprite-paginator-prev-total-height: 247px;
$sprite-paginator-prev-image: '../images/sprite.png';
$sprite-paginator-prev: (0px, 223px, 0px, -223px, 14px, 24px, 24px, 247px, '../images/sprite.png', 'sprite-paginator-prev', );
$sprite-search-name: 'sprite-search';
$sprite-search-x: 0px;
$sprite-search-y: 67px;
$sprite-search-offset-x: 0px;
$sprite-search-offset-y: -67px;
$sprite-search-width: 13px;
$sprite-search-height: 13px;
$sprite-search-total-width: 24px;
$sprite-search-total-height: 247px;
$sprite-search-image: '../images/sprite.png';
$sprite-search: (0px, 67px, 0px, -67px, 13px, 13px, 24px, 247px, '../images/sprite.png', 'sprite-search', );
$sprite-star-name: 'sprite-star';
$sprite-star-x: 0px;
$sprite-star-y: 138px;
$sprite-star-offset-x: 0px;
$sprite-star-offset-y: -138px;
$sprite-star-width: 24px;
$sprite-star-height: 23px;
$sprite-star-total-width: 24px;
$sprite-star-total-height: 247px;
$sprite-star-image: '../images/sprite.png';
$sprite-star: (0px, 138px, 0px, -138px, 24px, 23px, 24px, 247px, '../images/sprite.png', 'sprite-star', );
$sprite-star-gray-name: 'sprite-star_gray';
$sprite-star-gray-x: 0px;
$sprite-star-gray-y: 166px;
$sprite-star-gray-offset-x: 0px;
$sprite-star-gray-offset-y: -166px;
$sprite-star-gray-width: 24px;
$sprite-star-gray-height: 23px;
$sprite-star-gray-total-width: 24px;
$sprite-star-gray-total-height: 247px;
$sprite-star-gray-image: '../images/sprite.png';
$sprite-star-gray: (0px, 166px, 0px, -166px, 24px, 23px, 24px, 247px, '../images/sprite.png', 'sprite-star_gray', );
$sprite-up-name: 'sprite-up';
$sprite-up-x: 0px;
$sprite-up-y: 52px;
$sprite-up-offset-x: 0px;
$sprite-up-offset-y: -52px;
$sprite-up-width: 5px;
$sprite-up-height: 10px;
$sprite-up-total-width: 24px;
$sprite-up-total-height: 247px;
$sprite-up-image: '../images/sprite.png';
$sprite-up: (0px, 52px, 0px, -52px, 5px, 10px, 24px, 247px, '../images/sprite.png', 'sprite-up', );
$sprite-user-name: 'sprite-user';
$sprite-user-x: 0px;
$sprite-user-y: 85px;
$sprite-user-offset-x: 0px;
$sprite-user-offset-y: -85px;
$sprite-user-width: 21px;
$sprite-user-height: 21px;
$sprite-user-total-width: 24px;
$sprite-user-total-height: 247px;
$sprite-user-image: '../images/sprite.png';
$sprite-user: (0px, 85px, 0px, -85px, 21px, 21px, 24px, 247px, '../images/sprite.png', 'sprite-user', );
$spritesheet-width: 24px;
$spritesheet-height: 247px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($sprite-breacrumbs-arrow, $sprite-car-1, $sprite-car-2, $sprite-car-3, $sprite-filter, $sprite-paginator-next, $sprite-paginator-prev, $sprite-search, $sprite-star, $sprite-star-gray, $sprite-up, $sprite-user, );
$spritesheet: (24px, 247px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
