// Tools & helpers
@import 'variables';
@import 'sprite';

// Libs
@import 'vendor/normalize';

// Commons styles
@import 'common';

// Load sections
@import 'sections/header';
@import 'sections/catalog';
@import 'sections/footer';

// Generate sprite's css code
@include sprites($spritesheet-sprites);
.sprite-icon {
	display: inline-block;
	margin-left: .2em;
	margin-right: .2em;
	vertical-align: middle;
}

// Animations
@import 'animations';