html,
body {
	height: 100%;
}

body {
	background-color: $color-darkgray;
	font: 400 1em/1.6 $default-font;
	color: $color-text;
	text-transform: uppercase;
	@include cursor(default);

	// http://stackoverflow.com/a/19706857
	-ms-overflow-style: scrollbar;
}

a {
	&,
	&:hover,
	&:focus {
		color: $color-text;
		text-decoration: none;
	}
}

a,
label,
select,
button,
html input[type="button"], // overwrite bootstrap's styles
input[type="reset"],
input[type="submit"],
[role="button"] {
	@include cursor(hover);
}

input,
button,
textarea,
select {
	text-transform: uppercase;
	outline: none;
	border-radius: 0;
}

img {
	max-width: 100%;
}

.clear {
	clear: both;
}

.nav {
	&,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.btn {
	&.btn-bordered {
		display: inline-block;
		padding: 0 14px;
		background-color: transparent;
		border: 4px solid #fff;
		border-radius: 0;
		line-height: 30px;
		letter-spacing: 1.2px;
		font-weight: 700;
		font-size: 13px;
		text-decoration: none;
		text-align: center;
		transition: all .15s ease-in;

		&:hover,
		&:focus {
			background-color: #fff;
			color: #393637;;
		}
	}
}

.text-lime {
	color: $color-lime !important;
}

.side-buttons {
	$button-size: 62px;

	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;

	&__button {
		width: $button-size;
		height: $button-size;
		margin-top: -1px;
		background-color: rgba(132,132,132, .1);
		border: 1px solid rgba(#fff, .2);
		text-align: center;
		line-height: $button-size;
		@include cursor(hover);
		transition: all .15s ease-in;
		
		&--up {
			visibility: hidden;
			opacity: 0;
			height: 0;

			&.side-buttons__button--visible {
				visibility: visible;
				opacity: 1;
				height: $button-size;
			}
		}

		&:hover {
			background-color: #fff;
			border-color: #fff;
		}

		&:first-child {
			margin-top: 0;
			border-bottom-color: transparent;
		}
	}

	@media (min-width: $breakpoints-md) {
		@include vertical-align(none);
		bottom: auto;
	}

	@media (min-width: $breakpoints-xs) {
		display: block;
	}
}

.uv-portal {
	&__overlay {
		visibility: hidden;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 997;
		background-color: rgba(24,25,27, .95);
		opacity: 0;
		transition: .3s ease-in;
	}

	&__header {
		visibility: hidden;
		width: 100%;
		position: fixed;
		top: 20px;
		left: 0;
		z-index: 999;
		opacity: 0;
		padding: 0;
		transition: .3s cubic-bezier(.22,.61,.36,1);

		&__text {
			margin: 0 0 20px;
			font-size: 10px;
			font-weight: 600;
			letter-spacing: $letter-sp-small;
			text-align: center;
			text-shadow: 0 1px 1px #000;

			&--small {
				font-size: 80%;
			}
		}
	}

	&__image {
		position: absolute;
		z-index: 998;
		visibility: hidden;
		opacity: 0;
		transition-property: visibility, opacity;
		transition-duration: .3s;
		transition-timing-function: ease-in;

		background: url('../images/loader.gif') no-repeat 50% 50%;
	}

	@media (min-width: $breakpoints-xs) {
		&__header {
			padding: 0 6%;
		}
	}
}
.js-uv-show {
	.uv-portal__overlay,
	.uv-portal__header,
	.uv-portal__image {
		visibility: visible;
		opacity: 1;
		transition-duration: .9s;
	} 
	.uv-portal__header {
		top: 40px;
		transition-delay: .9s;
	}

	.glow-in-dark {
		z-index: 999;
		color: #fff;
		text-shadow: 0 0 15px rgba(#fff, .2);
	}
}

// Bootstrap's carousel
.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;

	.item {
		display: none;
		position: relative;
		transition: .6s ease-in-out left;

		img {
			line-height: 1;
		}
	}

	@media all and (transform-3d), (-webkit-transform-3d) {
	  transition-transform: 0.6s ease-in-out;
	  backface-visibility: hidden;
	  perspective: 1000px;

		&.next,
		&.active.right {
			translate3d: 100%, 0, 0;
			left: 0;
		}
		&.prev,
		&.active.left {
			translate3d: -100%, 0, 0;
			left: 0;
		}
		&.next.left,
		&.prev.right,
		&.active {
			translate3d: 0, 0, 0;
			left: 0;
		}
	}

	.active,
	.next,
	.prev {
		display: block;
	}

	.active {
		left: 0;
	}

	.next,
	.prev {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.next {
		left: 100%;
	}
	.prev {
		left: -100%;
	}
	.next.left,
	.prev.right {
		left: 0;
	}

	.active.left {
		left: -100%;
	}
	.active.right {
		left: 100%;
	}
}

// Green frame
.global-frame {
	@media (min-width: 641px) {
		border: 10px solid $color-lime;
	}
}