// Montserrat
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-400.woff2') format('woff2'),
		 url('../fonts/montserrat-400.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-700.woff2') format('woff2'),
		 url('../fonts/montserrat-700.woff') format('woff');
}

// Streetbrush
@font-face {
	font-family: 'Streetbrush';
	src: url('../fonts/streetbrush-streetbrush.woff2') format('woff2'),
		 url('../fonts/streetbrush-streetbrush.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}