@mixin vertical-align($position: relative) {
	@if $position != 'none'
	{
		position: $position;
	}
	top: 50%;
	transform: translateY(-50%);
}

@mixin horizontal-align($position: relative) {
	@if $position != 'none'
	{
		position: $position;
	}
	left: 50%;
	transform: translateX(-50%);
}

// custom cursor
@mixin cursor($action) {
	@if $action == 'hover'
	{
		cursor: pointer; // for IE
		cursor: url('../images/cursor-pointer.png') 15 10, pointer;
	}
	@else
	{
		cursor: auto; // for IE
		cursor: url('../images/cursor-default.png') 6 6, auto;
	}
}

@mixin text-hide() {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}