/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-arrow-left-name: 'sprite-arrow-left';
$sprite-arrow-left-x: 0px;
$sprite-arrow-left-y: 342px;
$sprite-arrow-left-offset-x: 0px;
$sprite-arrow-left-offset-y: -342px;
$sprite-arrow-left-width: 27px;
$sprite-arrow-left-height: 52px;
$sprite-arrow-left-total-width: 251px;
$sprite-arrow-left-total-height: 500px;
$sprite-arrow-left-image: '../images/sprite.png';
$sprite-arrow-left: (0px, 342px, 0px, -342px, 27px, 52px, 251px, 500px, '../images/sprite.png', 'sprite-arrow-left', );
$sprite-arrow-right-name: 'sprite-arrow-right';
$sprite-arrow-right-x: 0px;
$sprite-arrow-right-y: 285px;
$sprite-arrow-right-offset-x: 0px;
$sprite-arrow-right-offset-y: -285px;
$sprite-arrow-right-width: 27px;
$sprite-arrow-right-height: 52px;
$sprite-arrow-right-total-width: 251px;
$sprite-arrow-right-total-height: 500px;
$sprite-arrow-right-image: '../images/sprite.png';
$sprite-arrow-right: (0px, 285px, 0px, -285px, 27px, 52px, 251px, 500px, '../images/sprite.png', 'sprite-arrow-right', );
$sprite-arrow-up-name: 'sprite-arrow-up';
$sprite-arrow-up-x: 0px;
$sprite-arrow-up-y: 131px;
$sprite-arrow-up-offset-x: 0px;
$sprite-arrow-up-offset-y: -131px;
$sprite-arrow-up-width: 32px;
$sprite-arrow-up-height: 16px;
$sprite-arrow-up-total-width: 251px;
$sprite-arrow-up-total-height: 500px;
$sprite-arrow-up-image: '../images/sprite.png';
$sprite-arrow-up: (0px, 131px, 0px, -131px, 32px, 16px, 251px, 500px, '../images/sprite.png', 'sprite-arrow-up', );
$sprite-bow-tie-name: 'sprite-bow-tie';
$sprite-bow-tie-x: 0px;
$sprite-bow-tie-y: 11px;
$sprite-bow-tie-offset-x: 0px;
$sprite-bow-tie-offset-y: -11px;
$sprite-bow-tie-width: 8px;
$sprite-bow-tie-height: 6px;
$sprite-bow-tie-total-width: 251px;
$sprite-bow-tie-total-height: 500px;
$sprite-bow-tie-image: '../images/sprite.png';
$sprite-bow-tie: (0px, 11px, 0px, -11px, 8px, 6px, 251px, 500px, '../images/sprite.png', 'sprite-bow-tie', );
$sprite-cart-name: 'sprite-cart';
$sprite-cart-x: 0px;
$sprite-cart-y: 38px;
$sprite-cart-offset-x: 0px;
$sprite-cart-offset-y: -38px;
$sprite-cart-width: 15px;
$sprite-cart-height: 11px;
$sprite-cart-total-width: 251px;
$sprite-cart-total-height: 500px;
$sprite-cart-image: '../images/sprite.png';
$sprite-cart: (0px, 38px, 0px, -38px, 15px, 11px, 251px, 500px, '../images/sprite.png', 'sprite-cart', );
$sprite-facebook-name: 'sprite-facebook';
$sprite-facebook-x: 0px;
$sprite-facebook-y: 110px;
$sprite-facebook-offset-x: 0px;
$sprite-facebook-offset-y: -110px;
$sprite-facebook-width: 16px;
$sprite-facebook-height: 16px;
$sprite-facebook-total-width: 251px;
$sprite-facebook-total-height: 500px;
$sprite-facebook-image: '../images/sprite.png';
$sprite-facebook: (0px, 110px, 0px, -110px, 16px, 16px, 251px, 500px, '../images/sprite.png', 'sprite-facebook', );
$sprite-glasses-name: 'sprite-glasses';
$sprite-glasses-x: 0px;
$sprite-glasses-y: 54px;
$sprite-glasses-offset-x: 0px;
$sprite-glasses-offset-y: -54px;
$sprite-glasses-width: 32px;
$sprite-glasses-height: 11px;
$sprite-glasses-total-width: 251px;
$sprite-glasses-total-height: 500px;
$sprite-glasses-image: '../images/sprite.png';
$sprite-glasses: (0px, 54px, 0px, -54px, 32px, 11px, 251px, 500px, '../images/sprite.png', 'sprite-glasses', );
$sprite-header-logo-resp-name: 'sprite-header-logo--resp';
$sprite-header-logo-resp-x: 0px;
$sprite-header-logo-resp-y: 250px;
$sprite-header-logo-resp-offset-x: 0px;
$sprite-header-logo-resp-offset-y: -250px;
$sprite-header-logo-resp-width: 112px;
$sprite-header-logo-resp-height: 30px;
$sprite-header-logo-resp-total-width: 251px;
$sprite-header-logo-resp-total-height: 500px;
$sprite-header-logo-resp-image: '../images/sprite.png';
$sprite-header-logo-resp: (0px, 250px, 0px, -250px, 112px, 30px, 251px, 500px, '../images/sprite.png', 'sprite-header-logo--resp', );
$sprite-header-logo-name: 'sprite-header-logo';
$sprite-header-logo-x: 0px;
$sprite-header-logo-y: 22px;
$sprite-header-logo-offset-x: 0px;
$sprite-header-logo-offset-y: -22px;
$sprite-header-logo-width: 251px;
$sprite-header-logo-height: 11px;
$sprite-header-logo-total-width: 251px;
$sprite-header-logo-total-height: 500px;
$sprite-header-logo-image: '../images/sprite.png';
$sprite-header-logo: (0px, 22px, 0px, -22px, 251px, 11px, 251px, 500px, '../images/sprite.png', 'sprite-header-logo', );
$sprite-instagram-name: 'sprite-instagram';
$sprite-instagram-x: 0px;
$sprite-instagram-y: 152px;
$sprite-instagram-offset-x: 0px;
$sprite-instagram-offset-y: -152px;
$sprite-instagram-width: 16px;
$sprite-instagram-height: 16px;
$sprite-instagram-total-width: 251px;
$sprite-instagram-total-height: 500px;
$sprite-instagram-image: '../images/sprite.png';
$sprite-instagram: (0px, 152px, 0px, -152px, 16px, 16px, 251px, 500px, '../images/sprite.png', 'sprite-instagram', );
$sprite-key-name: 'sprite-key';
$sprite-key-x: 0px;
$sprite-key-y: 0px;
$sprite-key-offset-x: 0px;
$sprite-key-offset-y: 0px;
$sprite-key-width: 12px;
$sprite-key-height: 6px;
$sprite-key-total-width: 251px;
$sprite-key-total-height: 500px;
$sprite-key-image: '../images/sprite.png';
$sprite-key: (0px, 0px, 0px, 0px, 12px, 6px, 251px, 500px, '../images/sprite.png', 'sprite-key', );
$sprite-mine-name: 'sprite-mine';
$sprite-mine-x: 0px;
$sprite-mine-y: 89px;
$sprite-mine-offset-x: 0px;
$sprite-mine-offset-y: -89px;
$sprite-mine-width: 14px;
$sprite-mine-height: 16px;
$sprite-mine-total-width: 251px;
$sprite-mine-total-height: 500px;
$sprite-mine-image: '../images/sprite.png';
$sprite-mine: (0px, 89px, 0px, -89px, 14px, 16px, 251px, 500px, '../images/sprite.png', 'sprite-mine', );
$sprite-play-video-name: 'sprite-play-video';
$sprite-play-video-x: 0px;
$sprite-play-video-y: 399px;
$sprite-play-video-offset-x: 0px;
$sprite-play-video-offset-y: -399px;
$sprite-play-video-width: 51px;
$sprite-play-video-height: 101px;
$sprite-play-video-total-width: 251px;
$sprite-play-video-total-height: 500px;
$sprite-play-video-image: '../images/sprite.png';
$sprite-play-video: (0px, 399px, 0px, -399px, 51px, 101px, 251px, 500px, '../images/sprite.png', 'sprite-play-video', );
$sprite-product-select-name: 'sprite-product-select';
$sprite-product-select-x: 0px;
$sprite-product-select-y: 220px;
$sprite-product-select-offset-x: 0px;
$sprite-product-select-offset-y: -220px;
$sprite-product-select-width: 40px;
$sprite-product-select-height: 25px;
$sprite-product-select-total-width: 251px;
$sprite-product-select-total-height: 500px;
$sprite-product-select-image: '../images/sprite.png';
$sprite-product-select: (0px, 220px, 0px, -220px, 40px, 25px, 251px, 500px, '../images/sprite.png', 'sprite-product-select', );
$sprite-product-share-name: 'sprite-product-share';
$sprite-product-share-x: 0px;
$sprite-product-share-y: 195px;
$sprite-product-share-offset-x: 0px;
$sprite-product-share-offset-y: -195px;
$sprite-product-share-width: 56px;
$sprite-product-share-height: 20px;
$sprite-product-share-total-width: 251px;
$sprite-product-share-total-height: 500px;
$sprite-product-share-image: '../images/sprite.png';
$sprite-product-share: (0px, 195px, 0px, -195px, 56px, 20px, 251px, 500px, '../images/sprite.png', 'sprite-product-share', );
$sprite-scroll-down-name: 'sprite-scroll-down';
$sprite-scroll-down-x: 0px;
$sprite-scroll-down-y: 173px;
$sprite-scroll-down-offset-x: 0px;
$sprite-scroll-down-offset-y: -173px;
$sprite-scroll-down-width: 32px;
$sprite-scroll-down-height: 17px;
$sprite-scroll-down-total-width: 251px;
$sprite-scroll-down-total-height: 500px;
$sprite-scroll-down-image: '../images/sprite.png';
$sprite-scroll-down: (0px, 173px, 0px, -173px, 32px, 17px, 251px, 500px, '../images/sprite.png', 'sprite-scroll-down', );
$sprite-twitter-name: 'sprite-twitter';
$sprite-twitter-x: 0px;
$sprite-twitter-y: 70px;
$sprite-twitter-offset-x: 0px;
$sprite-twitter-offset-y: -70px;
$sprite-twitter-width: 17px;
$sprite-twitter-height: 14px;
$sprite-twitter-total-width: 251px;
$sprite-twitter-total-height: 500px;
$sprite-twitter-image: '../images/sprite.png';
$sprite-twitter: (0px, 70px, 0px, -70px, 17px, 14px, 251px, 500px, '../images/sprite.png', 'sprite-twitter', );
$sprite-arrow-left-2x-name: 'sprite-arrow-left@2x';
$sprite-arrow-left-2x-x: 0px;
$sprite-arrow-left-2x-y: 684px;
$sprite-arrow-left-2x-offset-x: 0px;
$sprite-arrow-left-2x-offset-y: -684px;
$sprite-arrow-left-2x-width: 54px;
$sprite-arrow-left-2x-height: 104px;
$sprite-arrow-left-2x-total-width: 502px;
$sprite-arrow-left-2x-total-height: 1000px;
$sprite-arrow-left-2x-image: '../images/sprite@2x.png';
$sprite-arrow-left-2x: (0px, 684px, 0px, -684px, 54px, 104px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-arrow-left@2x', );
$sprite-arrow-right-2x-name: 'sprite-arrow-right@2x';
$sprite-arrow-right-2x-x: 0px;
$sprite-arrow-right-2x-y: 570px;
$sprite-arrow-right-2x-offset-x: 0px;
$sprite-arrow-right-2x-offset-y: -570px;
$sprite-arrow-right-2x-width: 54px;
$sprite-arrow-right-2x-height: 104px;
$sprite-arrow-right-2x-total-width: 502px;
$sprite-arrow-right-2x-total-height: 1000px;
$sprite-arrow-right-2x-image: '../images/sprite@2x.png';
$sprite-arrow-right-2x: (0px, 570px, 0px, -570px, 54px, 104px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-arrow-right@2x', );
$sprite-arrow-up-2x-name: 'sprite-arrow-up@2x';
$sprite-arrow-up-2x-x: 0px;
$sprite-arrow-up-2x-y: 262px;
$sprite-arrow-up-2x-offset-x: 0px;
$sprite-arrow-up-2x-offset-y: -262px;
$sprite-arrow-up-2x-width: 64px;
$sprite-arrow-up-2x-height: 32px;
$sprite-arrow-up-2x-total-width: 502px;
$sprite-arrow-up-2x-total-height: 1000px;
$sprite-arrow-up-2x-image: '../images/sprite@2x.png';
$sprite-arrow-up-2x: (0px, 262px, 0px, -262px, 64px, 32px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-arrow-up@2x', );
$sprite-bow-tie-2x-name: 'sprite-bow-tie@2x';
$sprite-bow-tie-2x-x: 0px;
$sprite-bow-tie-2x-y: 22px;
$sprite-bow-tie-2x-offset-x: 0px;
$sprite-bow-tie-2x-offset-y: -22px;
$sprite-bow-tie-2x-width: 16px;
$sprite-bow-tie-2x-height: 12px;
$sprite-bow-tie-2x-total-width: 502px;
$sprite-bow-tie-2x-total-height: 1000px;
$sprite-bow-tie-2x-image: '../images/sprite@2x.png';
$sprite-bow-tie-2x: (0px, 22px, 0px, -22px, 16px, 12px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-bow-tie@2x', );
$sprite-cart-2x-name: 'sprite-cart@2x';
$sprite-cart-2x-x: 0px;
$sprite-cart-2x-y: 76px;
$sprite-cart-2x-offset-x: 0px;
$sprite-cart-2x-offset-y: -76px;
$sprite-cart-2x-width: 30px;
$sprite-cart-2x-height: 22px;
$sprite-cart-2x-total-width: 502px;
$sprite-cart-2x-total-height: 1000px;
$sprite-cart-2x-image: '../images/sprite@2x.png';
$sprite-cart-2x: (0px, 76px, 0px, -76px, 30px, 22px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-cart@2x', );
$sprite-facebook-2x-name: 'sprite-facebook@2x';
$sprite-facebook-2x-x: 0px;
$sprite-facebook-2x-y: 220px;
$sprite-facebook-2x-offset-x: 0px;
$sprite-facebook-2x-offset-y: -220px;
$sprite-facebook-2x-width: 32px;
$sprite-facebook-2x-height: 32px;
$sprite-facebook-2x-total-width: 502px;
$sprite-facebook-2x-total-height: 1000px;
$sprite-facebook-2x-image: '../images/sprite@2x.png';
$sprite-facebook-2x: (0px, 220px, 0px, -220px, 32px, 32px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-facebook@2x', );
$sprite-glasses-2x-name: 'sprite-glasses@2x';
$sprite-glasses-2x-x: 0px;
$sprite-glasses-2x-y: 108px;
$sprite-glasses-2x-offset-x: 0px;
$sprite-glasses-2x-offset-y: -108px;
$sprite-glasses-2x-width: 64px;
$sprite-glasses-2x-height: 22px;
$sprite-glasses-2x-total-width: 502px;
$sprite-glasses-2x-total-height: 1000px;
$sprite-glasses-2x-image: '../images/sprite@2x.png';
$sprite-glasses-2x: (0px, 108px, 0px, -108px, 64px, 22px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-glasses@2x', );
$sprite-header-logo-resp-2x-name: 'sprite-header-logo--resp@2x';
$sprite-header-logo-resp-2x-x: 0px;
$sprite-header-logo-resp-2x-y: 500px;
$sprite-header-logo-resp-2x-offset-x: 0px;
$sprite-header-logo-resp-2x-offset-y: -500px;
$sprite-header-logo-resp-2x-width: 224px;
$sprite-header-logo-resp-2x-height: 60px;
$sprite-header-logo-resp-2x-total-width: 502px;
$sprite-header-logo-resp-2x-total-height: 1000px;
$sprite-header-logo-resp-2x-image: '../images/sprite@2x.png';
$sprite-header-logo-resp-2x: (0px, 500px, 0px, -500px, 224px, 60px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-header-logo--resp@2x', );
$sprite-header-logo-2x-name: 'sprite-header-logo@2x';
$sprite-header-logo-2x-x: 0px;
$sprite-header-logo-2x-y: 44px;
$sprite-header-logo-2x-offset-x: 0px;
$sprite-header-logo-2x-offset-y: -44px;
$sprite-header-logo-2x-width: 502px;
$sprite-header-logo-2x-height: 22px;
$sprite-header-logo-2x-total-width: 502px;
$sprite-header-logo-2x-total-height: 1000px;
$sprite-header-logo-2x-image: '../images/sprite@2x.png';
$sprite-header-logo-2x: (0px, 44px, 0px, -44px, 502px, 22px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-header-logo@2x', );
$sprite-instagram-2x-name: 'sprite-instagram@2x';
$sprite-instagram-2x-x: 0px;
$sprite-instagram-2x-y: 304px;
$sprite-instagram-2x-offset-x: 0px;
$sprite-instagram-2x-offset-y: -304px;
$sprite-instagram-2x-width: 32px;
$sprite-instagram-2x-height: 32px;
$sprite-instagram-2x-total-width: 502px;
$sprite-instagram-2x-total-height: 1000px;
$sprite-instagram-2x-image: '../images/sprite@2x.png';
$sprite-instagram-2x: (0px, 304px, 0px, -304px, 32px, 32px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-instagram@2x', );
$sprite-key-2x-name: 'sprite-key@2x';
$sprite-key-2x-x: 0px;
$sprite-key-2x-y: 0px;
$sprite-key-2x-offset-x: 0px;
$sprite-key-2x-offset-y: 0px;
$sprite-key-2x-width: 24px;
$sprite-key-2x-height: 12px;
$sprite-key-2x-total-width: 502px;
$sprite-key-2x-total-height: 1000px;
$sprite-key-2x-image: '../images/sprite@2x.png';
$sprite-key-2x: (0px, 0px, 0px, 0px, 24px, 12px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-key@2x', );
$sprite-mine-2x-name: 'sprite-mine@2x';
$sprite-mine-2x-x: 0px;
$sprite-mine-2x-y: 178px;
$sprite-mine-2x-offset-x: 0px;
$sprite-mine-2x-offset-y: -178px;
$sprite-mine-2x-width: 28px;
$sprite-mine-2x-height: 32px;
$sprite-mine-2x-total-width: 502px;
$sprite-mine-2x-total-height: 1000px;
$sprite-mine-2x-image: '../images/sprite@2x.png';
$sprite-mine-2x: (0px, 178px, 0px, -178px, 28px, 32px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-mine@2x', );
$sprite-play-video-2x-name: 'sprite-play-video@2x';
$sprite-play-video-2x-x: 0px;
$sprite-play-video-2x-y: 798px;
$sprite-play-video-2x-offset-x: 0px;
$sprite-play-video-2x-offset-y: -798px;
$sprite-play-video-2x-width: 102px;
$sprite-play-video-2x-height: 202px;
$sprite-play-video-2x-total-width: 502px;
$sprite-play-video-2x-total-height: 1000px;
$sprite-play-video-2x-image: '../images/sprite@2x.png';
$sprite-play-video-2x: (0px, 798px, 0px, -798px, 102px, 202px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-play-video@2x', );
$sprite-product-select-2x-name: 'sprite-product-select@2x';
$sprite-product-select-2x-x: 0px;
$sprite-product-select-2x-y: 440px;
$sprite-product-select-2x-offset-x: 0px;
$sprite-product-select-2x-offset-y: -440px;
$sprite-product-select-2x-width: 80px;
$sprite-product-select-2x-height: 50px;
$sprite-product-select-2x-total-width: 502px;
$sprite-product-select-2x-total-height: 1000px;
$sprite-product-select-2x-image: '../images/sprite@2x.png';
$sprite-product-select-2x: (0px, 440px, 0px, -440px, 80px, 50px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-product-select@2x', );
$sprite-product-share-2x-name: 'sprite-product-share@2x';
$sprite-product-share-2x-x: 0px;
$sprite-product-share-2x-y: 390px;
$sprite-product-share-2x-offset-x: 0px;
$sprite-product-share-2x-offset-y: -390px;
$sprite-product-share-2x-width: 112px;
$sprite-product-share-2x-height: 40px;
$sprite-product-share-2x-total-width: 502px;
$sprite-product-share-2x-total-height: 1000px;
$sprite-product-share-2x-image: '../images/sprite@2x.png';
$sprite-product-share-2x: (0px, 390px, 0px, -390px, 112px, 40px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-product-share@2x', );
$sprite-scroll-down-2x-name: 'sprite-scroll-down@2x';
$sprite-scroll-down-2x-x: 0px;
$sprite-scroll-down-2x-y: 346px;
$sprite-scroll-down-2x-offset-x: 0px;
$sprite-scroll-down-2x-offset-y: -346px;
$sprite-scroll-down-2x-width: 64px;
$sprite-scroll-down-2x-height: 34px;
$sprite-scroll-down-2x-total-width: 502px;
$sprite-scroll-down-2x-total-height: 1000px;
$sprite-scroll-down-2x-image: '../images/sprite@2x.png';
$sprite-scroll-down-2x: (0px, 346px, 0px, -346px, 64px, 34px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-scroll-down@2x', );
$sprite-twitter-2x-name: 'sprite-twitter@2x';
$sprite-twitter-2x-x: 0px;
$sprite-twitter-2x-y: 140px;
$sprite-twitter-2x-offset-x: 0px;
$sprite-twitter-2x-offset-y: -140px;
$sprite-twitter-2x-width: 34px;
$sprite-twitter-2x-height: 28px;
$sprite-twitter-2x-total-width: 502px;
$sprite-twitter-2x-total-height: 1000px;
$sprite-twitter-2x-image: '../images/sprite@2x.png';
$sprite-twitter-2x: (0px, 140px, 0px, -140px, 34px, 28px, 502px, 1000px, '../images/sprite@2x.png', 'sprite-twitter@2x', );
$spritesheet-width: 251px;
$spritesheet-height: 500px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($sprite-arrow-left, $sprite-arrow-right, $sprite-arrow-up, $sprite-bow-tie, $sprite-cart, $sprite-facebook, $sprite-glasses, $sprite-header-logo-resp, $sprite-header-logo, $sprite-instagram, $sprite-key, $sprite-mine, $sprite-play-video, $sprite-product-select, $sprite-product-share, $sprite-scroll-down, $sprite-twitter, );
$spritesheet: (251px, 500px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 502px;
$retina-spritesheet-height: 1000px;
$retina-spritesheet-image: '../images/sprite@2x.png';
$retina-spritesheet-sprites: ($sprite-arrow-left-2x, $sprite-arrow-right-2x, $sprite-arrow-up-2x, $sprite-bow-tie-2x, $sprite-cart-2x, $sprite-facebook-2x, $sprite-glasses-2x, $sprite-header-logo-resp-2x, $sprite-header-logo-2x, $sprite-instagram-2x, $sprite-key-2x, $sprite-mine-2x, $sprite-play-video-2x, $sprite-product-select-2x, $sprite-product-share-2x, $sprite-scroll-down-2x, $sprite-twitter-2x, );
$retina-spritesheet: (502px, 1000px, '../images/sprite@2x.png', $retina-spritesheet-sprites, );


// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.

$sprite-arrow-left-group-name: 'sprite-arrow-left';
$sprite-arrow-left-group: ('sprite-arrow-left', $sprite-arrow-left, $sprite-arrow-left-2x, );
$sprite-arrow-right-group-name: 'sprite-arrow-right';
$sprite-arrow-right-group: ('sprite-arrow-right', $sprite-arrow-right, $sprite-arrow-right-2x, );
$sprite-arrow-up-group-name: 'sprite-arrow-up';
$sprite-arrow-up-group: ('sprite-arrow-up', $sprite-arrow-up, $sprite-arrow-up-2x, );
$sprite-bow-tie-group-name: 'sprite-bow-tie';
$sprite-bow-tie-group: ('sprite-bow-tie', $sprite-bow-tie, $sprite-bow-tie-2x, );
$sprite-cart-group-name: 'sprite-cart';
$sprite-cart-group: ('sprite-cart', $sprite-cart, $sprite-cart-2x, );
$sprite-facebook-group-name: 'sprite-facebook';
$sprite-facebook-group: ('sprite-facebook', $sprite-facebook, $sprite-facebook-2x, );
$sprite-glasses-group-name: 'sprite-glasses';
$sprite-glasses-group: ('sprite-glasses', $sprite-glasses, $sprite-glasses-2x, );
$sprite-header-logo-resp-group-name: 'sprite-header-logo--resp';
$sprite-header-logo-resp-group: ('sprite-header-logo--resp', $sprite-header-logo-resp, $sprite-header-logo-resp-2x, );
$sprite-header-logo-group-name: 'sprite-header-logo';
$sprite-header-logo-group: ('sprite-header-logo', $sprite-header-logo, $sprite-header-logo-2x, );
$sprite-instagram-group-name: 'sprite-instagram';
$sprite-instagram-group: ('sprite-instagram', $sprite-instagram, $sprite-instagram-2x, );
$sprite-key-group-name: 'sprite-key';
$sprite-key-group: ('sprite-key', $sprite-key, $sprite-key-2x, );
$sprite-mine-group-name: 'sprite-mine';
$sprite-mine-group: ('sprite-mine', $sprite-mine, $sprite-mine-2x, );
$sprite-play-video-group-name: 'sprite-play-video';
$sprite-play-video-group: ('sprite-play-video', $sprite-play-video, $sprite-play-video-2x, );
$sprite-product-select-group-name: 'sprite-product-select';
$sprite-product-select-group: ('sprite-product-select', $sprite-product-select, $sprite-product-select-2x, );
$sprite-product-share-group-name: 'sprite-product-share';
$sprite-product-share-group: ('sprite-product-share', $sprite-product-share, $sprite-product-share-2x, );
$sprite-scroll-down-group-name: 'sprite-scroll-down';
$sprite-scroll-down-group: ('sprite-scroll-down', $sprite-scroll-down, $sprite-scroll-down-2x, );
$sprite-twitter-group-name: 'sprite-twitter';
$sprite-twitter-group: ('sprite-twitter', $sprite-twitter, $sprite-twitter-2x, );
$retina-groups: ($sprite-arrow-left-group, $sprite-arrow-right-group, $sprite-arrow-up-group, $sprite-bow-tie-group, $sprite-cart-group, $sprite-facebook-group, $sprite-glasses-group, $sprite-header-logo-resp-group, $sprite-header-logo-group, $sprite-instagram-group, $sprite-key-group, $sprite-mine-group, $sprite-play-video-group, $sprite-product-select-group, $sprite-product-share-group, $sprite-scroll-down-group, $sprite-twitter-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}


// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.

// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

// .icon-home {
//   @include retina-sprite($icon-home-group);
// }

@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}


// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS

// @include retina-sprites($retina-groups);

@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
