$default-font: "Montserrat", sans-serif;

// letter spacing
$letter-sp-xs:     .035em;
$letter-sp-small:  .15em;
$letter-sp-medium: .26em;

// responsive breakpoints
$breakpoints-lg:  1200px;
$breakpoints-md:  992px;
$breakpoints-sm:  768px;
$breakpoints-xs:  480px;
$breakpoints-xxs: 320px;

// colors
$color-lime:       #a7FF38;
$color-text:       #fff;
$color-lightgray:  #d0d0d0;
$color-almostgray: #888;
$color-gray:       #666;
$color-darkgray:   #212223;