// Tools & helpers
@import 'variables';
@import 'mixins';
@import 'sprite';

// Commons styles
@import 'fonts';
@import 'common';

// Load sections
@import 'sections/header';
@import 'sections/product';
@import 'sections/club';
@import 'sections/footer';

// Generate sprite's css code
@include retina-sprites($retina-groups);
.s-icon {
	display: inline-block;
	margin-left: .2em;
	margin-right: .2em;
	vertical-align: middle;
}

// Animations
@import 'animations';